aside {
background:var(--bgcolor);
}

aside > figure {
display:none;
}

aside > figure > a > img {
width: 100%;
max-width: {{C_o.FULL_WIDTH_s}};
max-height: calc( {{C_o.FULL_HEIGHT_s}} - {{C_o.PAD_8}} );
object-fit: scale-down;
cursor: url(var(--cursor_svg)), auto;
}

figure:target {
position:fixed;
top:{{C_o.PAD_8}};
right:0;
bottom:0;
left:0;
}

aside#gray {
--cursor_svg:cursor_gray.svg;
}

aside#color {
--cursor_svg:cursor_color.svg;
}

