body {
position: relative;
color: var(--textcolor);
background: var(--bgcolor);
font-family: {{C_o.FONT_BODY_s}};
font-size: clamp( var(--font_size_min, .75rem ),
 calc(1rem + var(--font_size_target, 1vh) ), var(--font_size_max, 1.25rem) );
font-weight: 300;
line-height: 1.4;
}

