header {
position: sticky; top: 0;
z-index: 5;
opacity: .1;
transition: opacity 5s;
}

header > nav {
display: flex;
justify-content: space-between;
width: 100%;
}

header > nav > a {
font-weight: 400;
filter: brightness( var(--brigtness_lo) );
}

header:hover {
opacity: 1;
transition: opacity .1s;
}

