header {
z-index: 5;
display: flex;
justify-content: space-between;
position: sticky; top: 0;
width: 100%;
opacity: .1;
transition: opacity 5s;
}

header > a {
font-weight: 400;
filter: brightness( var(--brigtness_lo) );
}

header:hover {
opacity: 1;
transition: opacity .1s;
}

