section {
display: none;
content-visibility: auto;
position: absolute; top: 0;
padding-top: {{C_o.PAD_8}};
width: {{C_o.FULL_WIDTH_s}};
min-height: {{C_o.FULL_HEIGHT_s}};
background: var(--bgcolor);
}

section > h1 {
margin-bottom: {{C_o.PAD_2}};
}

section > h1,
section > h2 {
max-width: 60ch;
text-align: center;
font-weight: 200;
line-height: 0.7;
filter: brightness( var(--brigtness_lo) );
}

section > h2 > label {
border-bottom: 1px solid var(--shadow);
}

section > h2 {
margin: {{C_o.PAD_4}} 0 {{C_o.PAD_2}};
}

section > h2 + input {
display: none;
}

.chapter {
max-width: 60ch;
margin: 0 auto;
}

.cartel > b {
display: table;
}

.cartel > b:nth-of-type(1) {
--font_size-max: 1.5rem;
font-weight: 600;
}

.cartel > b:nth-of-type(2) {
--font_size-max: 1.25rem;
font-weight: 400;
}

.cartel > b > i:first-of-type::after {
content: '\00A0\{{C_o.DIM_SEPARATOR_s}}\00A0';
}

section#{{F_o.slug__s( C_o.SEC_TEXT_s )}},
section:target {
display: block;
}

section[id="galerie"] {
column-count: 3;
margin: 0 auto;
padding: {{C_o.PAD_8}};
max-width: 100vw;
column-gap: 0;
}

section[id="galerie"] > figure {
position: relative;
padding: 1vmin;
}

section[id="galerie"] > figure > figcaption {
position: absolute; top: 0; right: 0; bottom: 0; left: 0;
padding: 2vmin;
width: 100%;
background: var(--shadow);
opacity: 1;
}

section[id="galerie"] > figure > figcaption:hover {
opacity: 0;
transition: opacity .5s ease;
}

section[id="{{F_o.slug__s( C_o.SEC_TEXT_s )}}"]:target ~ header > nav > a[href="#{{F_o.slug__s( C_o.SEC_TEXT_s )}}"] {
visibility: hidden;
}

section[id="{{F_o.slug__s( C_o.SEC_MEDIA_s )}}"]:target ~ header > nav > a[href="#{{F_o.slug__s( C_o.SEC_MEDIA_s )}}"] {
visibility: hidden;
}

