section {
display: none;
content-visibility: auto;
position: absolute;
top: 0;
padding-top: {{C_o.PAD_8}};
width: {{C_o.FULL_WIDTH_s}};
min-height: {{C_o.FULL_HEIGHT_s}};
background: var(--bgcolor);
}

section > h1 {
--font_max: 40px;
--font_scale: 5vw;
font-weight: 500;
}

section > h1,
section > h2 {
margin: 0 auto;
max-width: 60ch;
text-align: center;
}

section > h2 > label {
--font_max: 32px;
--font_scale: 3.5vw;
font-weight: 300;
}

section > h2 > label:hover {
border-bottom: 1px solid var(--highlight);
}

section > h2 + input,
section > h2 + input + div {
display: none;
}

section > h2 + input:checked + div {
display: block;
margin-top: {{C_o.PAD_8}};
}

.chapter {
max-width: 60ch;
margin: {{C_o.PAD_8}} auto {{C_o.PAD_4}};
}

.chapter > hr {
margin: {{C_o.PAD_8}} auto {{C_o.PAD_12}};
width: 20%;
height: 1px;
background: var(--shadow);
border: 0;
}

.chapter > p > label {
z-index: 5;
margin: 0 {{C_o.PAD_1}};
vertical-align: middle;
cursor: pointer;
}

.chapter > p > label + input,
.chapter > p > label + input + ins {
display: none;
}

.chapter > p > label + input:checked + ins {
--font_max: 18px;
--font_scale: 1.9vw;
display: block;
position: relative;
height: fit-content;
margin: {{C_o.PAD_1}} 0;
padding: {{C_o.PAD_4}};
background: var(--insert);
text-decoration: none;
border-radius: 4px;
}

.chapter > p > label + input:checked + ins > a {
position: absolute;
top:    0;
right:  0;
bottom: 0;
cursor: zoom-in;
}

.chapter > p > label + input:checked + ins > a > img {
max-height: 128px;
height: 100%;
border-radius: 4px;
}

.cartel {
top: 0;
height: fit-content;
min-height: 128px;
}

.cartel > * {
--font_max: 18px;
--font_scale: 1.9w;
font-style: normal;
font-weight: 200;
line-height: 1.3;
}

.cartel > b {
display: table;
}

.cartel > b > * {
font-style: normal;
}

.cartel > b:nth-of-type(1) {
--font_max: 18px;
--font_scale: 2vw;
font-weight: 400;
font-style: italic;
line-height: 1.6;
}

.cartel > b:nth-of-type(2) {
--font_max: 20px;
--font_scale: 2.2vw;
font-weight: 600;
}

.cartel > b > i:first-of-type::after {
content: '\00A0\{{C_o.DIM_SEPARATOR_s}}\00A0';
}

div[class="chapter"]:last-of-type::after {
content: "-";
position: absolute;
left:48%;
width: 4%;
color: transparent;
border-bottom: 1px solid var(--shadow);
}

section:target,
section#{{F_o.slug__s( C_o.SEC_TEXT_s )}} {
display: block;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} {
column-count: 3;
column-gap: 0;
max-width: 100vw;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure {
position: relative;
margin: 1vmin;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure > img {
max-width: 100%;
height: auto;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure > a {
text-decoration: none;
color: currentColor;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure > a > figcaption {
position: absolute; top: 0; right: 0; bottom: 0; left: 0;
padding: 1vmin;
width: 100%;
background: var(--shadow_hi);
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure > a > figcaption > span {
position: absolute; bottom: 1vmin;
}

section#{{F_o.slug__s( C_o.SEC_MEDIA_s )}} > figure > a > figcaption:hover {
opacity: 0;
transition: opacity .4s ease;
}

