main > section {
display: none;
content-visibility: auto;
position: absolute;
width: {{C_o.FULL_WIDTH}};
min-height: {{C_o.FULL_HEIGHT}};
background: var(--bgcolor);
}

main > section > h1,
main > section > h2 {
margin: {{C_o.PAD_2}} 0;
max-width: 60ch;
text-align: center;
font-weight: 200;
line-height: 0.7;
filter: brightness( var(--brigtness_lo) );
}

main > section > h2 + input {
display: none;
}

.chapter {
max-width: 60ch;
margin: 0 auto;
}

.cartel > b {
display: table;
}

.cartel > b:nth-of-type(1) {
--font_size-max: 1.5rem;
font-weight: 600;
}

.cartel > b:nth-of-type(2) {
--font_size-max: 1.25rem;
font-weight: 400;
}

.cartel > b > i:first-of-type::after {
content: '\00A0\{{C_o.DIM_SEPARATOR_s}}\00A0';
}

section#{{F_o.slug__s( C_o.SEC_AUTO_s )}},
section:target {
display: block;
}

