body > section > aside {
position: fixed;
top: 0;
left: 0;
right: 0;
margin: 0;
height: 100vh;
overflow-y: scroll;
scroll-snap-type: y mandatory;
}

body > section > aside > figure {
display: grid;
place-items: center;
position: relative;
height: 100vh;
/*align-content: center;*/
scroll-snap-align: center;
cursor: all-scroll;
}

body > section > aside > figure > img {
max-height: 100vh;
}

body > section > aside > figure > figcaption {
display: grid;
place-items: center;
z-index: 4;
position: absolute;
bottom: 5vh;
padding: 2em;
border: 1px solid var(--textcolor);
border-radius: 8px;
background: var(--bgcolor);
opacity: 0;
transition: opacity .5s ease;
}

body > section > aside > figure > figcaption > b {
display: table;
}

body > section > aside > figure > figcaption > b > i:first-of-type::after {
content: '\00A0\{{C_o.DIM_SEPARATOR_s}}\00A0';
}

body > section > aside > figure > figcaption > b:nth-of-type(1) {
--font_size-max: 1.5rem;
font-weight: 600;
}

body > section > aside > figure > figcaption > b:nth-of-type(2) {
--font_size-max: 1.25rem;
font-weight: 400;
}

body > section > aside > figure > figcaption:hover {
box-shadow: 0 0 0 100vmax var(--shadow_hi);
opacity: 1;
transition: opacity .5s ease;
}

