div[data--="select"] {
max-width: 30ch;
margin: 0 auto;
}

div[data--="select"] > button {
border: 0;
padding: .5em 2em;
outline: 0;
color: #fff;
background: #666;
}

div[data--="select"] > button + div {
max-height: 0;
overflow: hidden;
background: #696;
transition: .3s;
}

div[data--="select"] > button + div > input {
display: none;
}

div[data--="select"] > button + div > label {
display: block;
padding: .5em;
background-color: #efefef;
}

div[data--="select"] > button + div > input:checked + label {
background-color: #69a;
color: #fff;
}

div[data--="select"] > button:focus ~ div {
max-height: 100vh;
}

