p {
color:red;
}

p + ins {
color:blue;
}

p + ins > ul {
color: black;
}

p + ins > ul > li {
color: crimson;
}

p + ins > ul > li ~ li {
color: pink;
}

p + ins + em {
color: cyan;
}

i {
color:olive;
}

