body > section > p {
color:red;
}

body > section > p:after {
color:blue;
}

body > section > p[class="flex"],
body > section > section {
color:green;
}

body,
 label > input {
color:red;
}

body +  {
color:blue;
}

