body > section > p {
color:red;
}

body > section > p:after {
color:blue;
}

body > section > p[class="flex"] {
color:green;
}

body > section {
color:green;
}

body > section > input {
color:red;
}

body > section + label {
color:red;
}

body > section + label {
color:blue;
}

