<section id="{{C_o.SECTION_a[2]}}">

  <input id="{{C_o.INPUT_ID_s}}_toolset" type="checkbox" checked>
  <div id="{{C_o.DIV_ID_s}}_toolset">
    {% include "parts/body/toolset.njk" %}    
  </div>

  <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_selectAll" title="Tout sélectionner">
    <span>[</span><span>]</span>
  </label>
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_selectAll" type="checkbox" checked />

  <div id="{{C_o.DIV_ID_s}}_masonry">
  </div>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock">
    <input id={{C_o.INPUT_ID_s}}_dock_nav type=checkbox>
    <div>
      <input id="{{C_o.INPUT_ID_s}}_{{C_o.MASONRY_s}}_wrap_n" data-label="{{C_o.NAV_LEGEND_o.expo_wrap.legend_s}}" type="range" min="1" max="10" step="1" value="{{C_o.EXPO_WRAP_n}}" data-tip="{{C_o.EXPO_WRAP_n}}"/>
  
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_add" data-key=n>{{C_o.NAV_LEGEND_o.expo_add.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_remove" data-key=x>{{C_o.NAV_LEGEND_o.expo_remove.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_hide" data-key=m>{{C_o.NAV_LEGEND_o.expo_hide.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_group" data-key=g>{{C_o.NAV_LEGEND_o.expo_group.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_caption" data-key=c>{{C_o.NAV_LEGEND_o.expo_caption.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_export" data-key={{C_o.CTRL_KEY_s}}s>{{C_o.NAV_LEGEND_o.expo_export.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_import" data-key={{C_o.CTRL_KEY_s}}o>{{C_o.NAV_LEGEND_o.expo_import.legend_s}}</label>
    </div>

  </div>

{% include "parts/body/dialog_work.njk" %}

</section>
