<section id="{{C_o.SECTION_a[2]}}">

  <label id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_zoom_out">{{C_o.ZOOM_OUT_s}}</label>
  <!--<input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_zoom_out" type="checkbox">-->

  <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_selectAll" title="Tout sélectionner">
    <span>[</span>
    <span>]</span>
  </label>
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_selectAll" type="checkbox" checked />

  <div id="{{C_o.DIV_ID_s}}_masonry">
  </div>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock">
    <nav>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" data-legend="{{C_o.NAV_LEGEND_o.stat_shadow_unfold.legend_s}}">
          <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
      </label>
    </nav>
    <input id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" type="checkbox">
    <div>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.MASONRY_s}}_wrap_n">{{C_o.NAV_LEGEND_o.expo_wrap.legend_s}}</label>
      <input id="{{C_o.INPUT_ID_s}}_{{C_o.MASONRY_s}}_wrap_n" type="range" min="1" max="10" step="1" value="{{C_o.EXPO_WRAP_n}}" data-tip="{{C_o.EXPO_WRAP_n}}"/>
  
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_add" data-key=n>{{C_o.NAV_LEGEND_o.expo_add.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_remove" data-key=x>{{C_o.NAV_LEGEND_o.expo_remove.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_hide" data-key=m>{{C_o.NAV_LEGEND_o.expo_hide.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_group" data-key=g>{{C_o.NAV_LEGEND_o.expo_group.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_work_caption" data-key=c>{{C_o.NAV_LEGEND_o.expo_work_caption.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_export" data-key=^s>{{C_o.NAV_LEGEND_o.expo_export.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_import" data-key=^o>{{C_o.NAV_LEGEND_o.expo_import.legend_s}}</label>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_burst" data-key=b>{{C_o.NAV_LEGEND_o.burst.legend_s}}</label>
    </div>

  </div>

{% include "parts/body/dialog_work.njk" %}

</section>
