<section id="{{C_o.SECTION_a[2]}}">

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_masonry"></div>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock">
    <nav>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" data-legend="{{C_o.NAV_LEGEND_o.stat_shadow_unfold.legend_s}}">
          <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
      </label>
    </nav>
    <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" type="checkbox">
    <div>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_wrap_n">{{C_o.NAV_LEGEND_o.expo_wrap.legend_s}}</label>
      <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_wrap_n" type="range" min="1" max="10" step="1" value="{{C_o.EXPO_WRAP_n}}" data-tip="{{C_o.EXPO_WRAP_n}}"/>
  
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_hide">{{C_o.NAV_LEGEND_o.expo_hide.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_remove">{{C_o.NAV_LEGEND_o.expo_remove.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_group">{{C_o.NAV_LEGEND_o.expo_group.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_local">{{C_o.NAV_LEGEND_o.expo_local.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_caption">{{C_o.NAV_LEGEND_o.expo_caption.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_dock_nav" id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_burst">{{C_o.NAV_LEGEND_o.burst.legend_s}}</label>
    </div>

  </div>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog" type="checkbox">
  <dialog id="dialog_{{C_o.SECTION_a[2]}}_dialog">
    <form id="form_{{C_o.SECTION_a[2]}}_dialog" method="dialog">
      <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_dialog">
        <header>
          
        </header>
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_artist" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_subject" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_year" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_width" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_height" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_place" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_location" type="text">
        <label></label>
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_dialog_country" type="text">
      </div>
    </form>
  </dialog>

</section>
