<header>
  <nav>
    <a href="index.html#{{F_o.slug__s( C_o.SEC_AUTO_s )}}">{{A_o.NAME_s}}</a>
{%- for _section in section_a %}
    <a href="#{{F_o.slug__s( _section )}}">{{ _section }}</a>
{%- endfor %}
  </nav>
</header>
