<aside id=aside_{{C_o.STAT_a[0]}}_hue_magnifier>
  <nav id={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier>
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}
      <span id={{C_o.STAT_a[0]}}_hue_magnifier_n>123</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}
      <span id={{C_o.STAT_a[0]}}_sat_magnifier_n>456</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}
      <span id={{C_o.STAT_a[0]}}_lum_magnifier_n>789</span>
    </label>
  </nav>
  <canvas id={{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier width={{C_o.BURST_MAGNIFIER_DIM_n}} height={{C_o.BURST_MAGNIFIER_DIM_n}}></canvas>
</aside>
