<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" name="{{C_o.STAT_a[0]}}_nav" type="radio" checked>
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue" width=2048 height=2048></canvas>
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue">
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_hue_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_freq.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_hue_ratio_n">0</span></label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}">
        <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" data-legend="{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" name="{{C_o.STAT_a[0]}}_nav" type="radio">
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_sat" width=2048 height=2048></canvas>
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_sat">
    <label>{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_sat_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_freq.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_sat_ratio_n">0</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" data-legend="{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" data-legend="{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" name="{{C_o.STAT_a[0]}}_nav" type="radio">
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_lum" width=2048 height=2048></canvas>
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_lum">
    <label>{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_lum_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_freq.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_lum_ratio_n">0</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" data-legend="{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>
  
  <nav id="{{C_o.STAT_a[0]}}_settings">
    <label id="{{C_o.STAT_a[0]}}_settings_inc" data-legend="{{C_o.NAV_LEGEND_o.stat_increment.legend_s}}">
      <span data-role=increment>{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label id="{{C_o.STAT_a[0]}}_settings_dec" data-legend="{{C_o.NAV_LEGEND_o.stat_decrement.legend_s}}">
      <span data-role=decrement>{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>
  <script id=script_{{C_o.STAT_a[0]}} data-src="/assets/scripts/js/{{C_o.STAT_a[0]}}.min.js"></script>
</div>
