<aside id=aside_{{C_o.STAT_a[0]}}_hue_magnify>
  <nav id={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnify>
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}
      <span id={{C_o.STAT_a[0]}}_hue_magnify_trace_n>123</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}
      <span id={{C_o.STAT_a[0]}}_sat_magnify_trace_n>456</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}
      <span id={{C_o.STAT_a[0]}}_lum_magnify_trace_n>789</span>
    </label>
    <label for={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnify_trace data-key=g>{{C_o.NAV_LEGEND_o.burst_magnify.legend_s}}</label>
  </nav>
  <canvas id={{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnify_img width={{C_o.BURST_MAGNIFY_DIM_n}} height={{C_o.BURST_MAGNIFY_DIM_n}}></canvas>
</aside>
