<aside id=aside_{{C_o.STAT_a[0]}}_hue_img>
  <canvas id={{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img width={{C_o.BURST_TRANSFORM_DIM_s}} height={{C_o.BURST_TRANSFORM_DIM_s}} data-fullsize_b=true></canvas>  <!-- 1024: default value -->
  <div id={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_back width={{C_o.BURST_TRANSFORM_DIM_s}} height={{C_o.BURST_TRANSFORM_DIM_s}}></div>
  <div id={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_overlay width={{C_o.BURST_TRANSFORM_DIM_s}} height={{C_o.BURST_TRANSFORM_DIM_s}}></div>
</aside>
