<input id={{C_o.INPUT_ID_s}}_toolset type=checkbox>
<div id={{C_o.DIV_ID_s}}_toolset>
  <nav id={{C_o.NAV_ID_s}}_toolset_zoom>
    <input id={{C_o.INPUT_ID_s}}_toolset_zoom type=checkbox>
    <label for={{C_o.INPUT_ID_s}}_toolset_zoom>{{C_o.ZOOM_OUT_s}}</label>
    <label for={{C_o.INPUT_ID_s}}_toolset_zoom>{{C_o.ZOOM_IN_s}}</label>
  </nav>
</div>
