<dialog id=dialog_{{C_o.STAT_a[0]}}_download>
  <form id=form_{{C_o.STAT_a[0]}}_download method="dialog">
    <div id={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download>
      <header>
        <label control>
        Création du fichier image
        </label>
        <input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_download_accept type=checkbox>
        <label for={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_download_accept>&#10003;</label>
        <input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_download_accept type=checkbox>
      </header>
      <label id={{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_download></label>
      <p>Cette opération ne prend que quelques secondes</p>
    </div>
  </form>
</dialog>
