<input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img type=checkbox checked>
<input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position type=checkbox>

<input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier type=checkbox>
