<input id={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear name={{C_o.STAT_a[0]}}_nav type=radio checked>
<canvas id={{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_linear width={{C_o.LINEAR_WIDTH_n}} height={{C_o.LINEAR_HEIGHT_n}}></canvas>
<nav id={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear>
  <div id={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_all>
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}s      <!-- plural -->
      <span id={{C_o.STAT_a[0]}}_linear_all_n>360</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_rate.legend_s}}
      <span id={{C_o.STAT_a[0]}}_linear_all_ratio_n>99,999 %</span>
    </label>
  </div>
  <div id={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_current>
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}
      <span id={{C_o.STAT_a[0]}}_linear_n>{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_rate.legend_s}}
      <span id={{C_o.STAT_a[0]}}_linear_ratio_n>{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </div>
</nav>
