<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}">

  <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_zoom_out">{{C_o.ZOOM_OUT_s}}</label>


  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" name="{{C_o.STAT_a[0]}}_nav" type="radio" checked>
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue" width=1024 height=1024></canvas>  <!-- 1024: default value -->
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue">
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_hue_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_rate.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_hue_ratio_n">0</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}">
        <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" data-legend="{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" name="{{C_o.STAT_a[0]}}_nav" type="radio">
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_sat" width=1024 height=1024></canvas>
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_sat">
    <label>{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_sat_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_rate.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_sat_ratio_n">0</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" data-legend="{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" data-legend="{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum" name="{{C_o.STAT_a[0]}}_nav" type="radio">
  <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_lum" width=1024 height=1024></canvas>
  <nav id="{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_lum">
    <label>{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_lum_n">0</span>
    </label>
    <label>{{C_o.NAV_LEGEND_o.burst_rate.legend_s}}
      <span id="{{C_o.STAT_a[0]}}_lum_ratio_n">0</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue" data-legend="{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}">
      <span data-icon="substat">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings" name="{{C_o.STAT_a[0]}}_settings" type="checkbox"><!--  TEMPORARY: checked -->
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow" type="checkbox">
  <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings">
    <aside>
      <nav>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings" data-legend="{{C_o.NAV_LEGEND_o.stat_close.legend_s}}">
              <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
          <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow" for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow" data-legend="{{C_o.NAV_LEGEND_o.stat_shadow_fold.legend_s}}">
              <span data-role="shadow">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
      </nav>

      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue">
        
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot">
          <ul id="{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot" data-role=range>
            <li data-slot_n="1">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio" checked>
            </li>
            <li data-slot_n="3">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="6">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="10">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">  <!-- TEMPORARY: 1 -->
            </li>
            <li data-slot_n="15">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="20">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="24">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="30">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="36">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="40">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="45">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="60">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="72">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="90">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
            <li data-slot_n="120">
              <input name="{{C_o.STAT_a[0]}}_hue_slot" type="radio">
            </li>
          </ul>
          <hr role="vrange" />
        </div>

        <div>
          <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_back" width=48 height=720></canvas>
          <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_front" width=48 height=720></canvas>
        </div>
        <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_hue_trace">
          <output id="output_{{C_o.STAT_a[0]}}_hue" type="text">{{S_o.hue_back}}</output>
          <span data-icon="{{C_o.NAV_LEGEND_o.empty}}">{{C_o.NAV_LEGEND_o.open_list_marker.legend_s}}</span>
        </label>

        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi">
         <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi">{{C_o.NAV_LEGEND_o.thresh_hi.legend_s}}</label>
         <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi" type="range" min="0" max="100" step="1" value="{{C_o.BURST_THRESH_HI_n}}" data-tip="{{C_o.BURST_THRESH_HI_n}}">
        </div>
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_lo">
         <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_thresh_lo" type="range" min="0" max="100" step="1" value="{{C_o.BURST_THRESH_LO_n}}" data-tip="{{C_o.BURST_THRESH_LO_n}}">
         <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_thresh_lo">{{C_o.NAV_LEGEND_o.thresh_lo.legend_s}}</label>
        </div>
      </div>
    </aside>
  </div>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock">
    <nav>
      <label for="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock_nav" data-legend="{{C_o.NAV_LEGEND_o.stat_shadow_unfold.legend_s}}">
          <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
      </label>
    </nav>
    <input id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock_nav" type="checkbox">
    <div>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_dock_scale">
      {{C_o.NAV_LEGEND_o.layers_scale.legend_s}}
      </label>
      <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_dock_scale" type="range" min="0.25" max="4" step="0.25" value="{{C_o.BURST_SCALE_n}}" data-tip="{{C_o.BURST_SCALE_n}}">
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings">{{C_o.NAV_LEGEND_o.stat_open.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_level"   >{{C_o.NAV_LEGEND_o.burst_level.legend_s}}</label>
      <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img" >{{C_o.NAV_LEGEND_o.burst_img.legend_s}}</label>
    </div>
  </div>

  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img" type="checkbox" checked>
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_download" type="checkbox">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_reset" type="checkbox">
  <!--<input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bar" type="checkbox">-->
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position" type="checkbox">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker" type="checkbox">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_transparent" name="{{C_o.STAT_a[0]}}_hue_color" type="radio">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_black" name="{{C_o.STAT_a[0]}}_hue_color" type="radio">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_white" name="{{C_o.STAT_a[0]}}_hue_color" type="radio">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_color" name="{{C_o.STAT_a[0]}}_hue_color" type="radio">


  <aside id="aside_{{C_o.STAT_a[0]}}_hue_img">
    <ul id="{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_img_control" role="icon_list">
      <li>
      <li>
        <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_download">
        {{C_o.IMG_DOWNLOAD_s}}
        </label>
      <li>
        <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_reset">
        {{C_o.IMG_RESET_s}}
        </label>
      <li>
        <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position" tabindex=1><!--NE and SW Arrow-->
        {{C_o.IMG_RETRACT_s}}
        </label>
    </ul>

    <canvas id="{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img" width={{C_o.BURST_TRANSFORM_DIM_s}} height={{C_o.BURST_TRANSFORM_DIM_s}} data-fullsize_b=true></canvas>  <!-- 1024: default value -->

    <div>
      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_playback">
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_playback_progress">
          <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_playback_start">&nbsp;</label>
          <progress id="progress_{{C_o.STAT_a[0]}}_playback_progress" max="100" value="0"></progress>
          <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_playback_stop">&nbsp;</label>
          <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_playback_reset">&nbsp;</label>
          <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_playback_progress"></label>
        </div>
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_playback_interval">
          <label>{{C_o.NAV_LEGEND_o.play_interval.legend_s}}</label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_interval" type="range" min="100" max="10000" step="100" value="{{C_o.PLAY_INTERVAL_n}}" data-tip="{{C_o.PLAY_INTERVAL_n}}">
        </div>
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_playback_shift">
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_slower" name="{{C_o.STAT_a[0]}}_playback_shift" type="radio" checked>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_slower">{{C_o.NAV_LEGEND_o.play_slower.legend_s}}</label>
  
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_faster" name="{{C_o.STAT_a[0]}}_playback_shift" type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_faster">{{C_o.NAV_LEGEND_o.play_faster.legend_s}}</label>
  
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_playback_shift" type="range" min="0" max="100" step="1" value="0" data-tip="0">
        </div>
      </div>
  
      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg">
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_opacity">
          <label>{{C_o.NAV_LEGEND_o.img_opacity.legend_s}}</label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_opacity" type="range" min="0" max="100" step="1" value="{{C_o.BURST_IMG_OPACITY_n}}" data-tip="{{C_o.BURST_IMG_OPACITY_n}}">
        </div>
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_color">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_transparent" data-legend="{{C_o.NAV_LEGEND_o.img_bgtransparent.legend_s}}">
              <span data-role="bgcolor">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_black" data-legend="{{C_o.NAV_LEGEND_o.img_bgblack.legend_s}}">
              <span data-role="bgcolor">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_white" data-legend="{{C_o.NAV_LEGEND_o.img_bgwhite.legend_s}}">
              <span data-role="bgcolor">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_color" data-legend="{{C_o.NAV_LEGEND_o.img_bgcolor.legend_s}}">
              <span data-role="bgcolor">{{C_o.NAV_LEGEND_o.empty}}</span>
          </label>
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker" data-legend="{{C_o.NAV_LEGEND_o.img_picker.legend_s}}">
              <span data-role="bgcolor">{{C_o.SEE_MORE_s}}</span>
          </label>
        </div>
        <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_hue"></label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_hue" type="range" min="0" max="360" step="1" value="{{C_o.BURST_PICK_HUE_n}}" data-tip="{{C_o.BURST_PICK_HUE_n}}">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_sat"></label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_sat" type="range" min="0" max="100" step="1" value="{{C_o.BURST_PICK_SAT_n}}" data-tip="{{C_o.BURST_PICK_SAT_n}}">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_lum"></label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_pick_lum" type="range" min="0" max="100" step="1" value="{{C_o.BURST_PICK_LUM_n}}" data-tip="{{C_o.BURST_PICK_LUM_n}}">
        </div>
      </div>
    </div>

  </aside>

  <dialog id="dialog_{{C_o.STAT_a[0]}}_download">
    <form id="form_{{C_o.STAT_a[0]}}_download" method="dialog">
      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download">
        <header>
          <label control>
          Création du fichier image
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_download_accept" type="checkbox">
          <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_download_accept">&#10003;</label>
          <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_download_accept" type="checkbox">
        </header>
        <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_download"></label>
        <p>Cette opération ne prend que quelques secondes</p>
      </div>
    </form>
  </dialog>
  
  <script id=script_{{C_o.STAT_a[0]}} data-src="/assets/scripts/js/{{C_o.STAT_a[0]}}.min.js"></script>
</div>
