<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[2]}}">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_canvas" name="{{C_o.STAT_a[2]}}_nav" type="radio" checked>
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings" name="{{C_o.STAT_a[2]}}_nav" type="radio">

  <!--<canvas data-layer_n=0></canvas>-->

  <nav id="{{C_o.STAT_a[2]}}_settings">
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings" data-legend="{{C_o.NAV_LEGEND_o.stat_open.legend_s}}">
      <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label id="{{C_o.STAT_a[2]}}_settings_inc" data-legend="{{C_o.NAV_LEGEND_o.stat_increment.legend_s}}">
      <span data-role="increment">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
    <label id="{{C_o.STAT_a[2]}}_settings_dec" data-legend="{{C_o.NAV_LEGEND_o.stat_decrement.legend_s}}">
      <span data-role="decrement">{{C_o.NAV_LEGEND_o.empty}}</span>
    </label>
  </nav>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings">
    <aside id="aside_{{C_o.STAT_a[2]}}_settings">
      <nav id="nav_{{C_o.STAT_a[2]}}_settings">
        <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_canvas" data-legend="{{C_o.NAV_LEGEND_o.stat_close.legend_s}}">
          <span data-role="open">{{C_o.NAV_LEGEND_o.empty}}</span>
        </label>
        <!--
        <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_origin" data-legend="{{C_o.NAV_LEGEND_o.paint_origin.legend_s}}">
          <span data-role="origin">{{C_o.NAV_LEGEND_o.empty}}</span>
        </label>
        -->
      </nav>




      <ul id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_items"></ul>

      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_toggle">
        <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[2]}}_layer_add">{{C_o.NAV_LEGEND_o.layers_add.legend_s}}</label>
        <label id="{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[2]}}_layer_hide">{{C_o.NAV_LEGEND_o.layers_hide.legend_s}}</label>
      </div>
    PAI_o
      .addLayer__v    //: reference work
      (
        document
          .querySelector( 'body' )
            .dataset
              .work_s
      )


      


      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue">
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_hue_grade" type=range min=0 max=100 value=50 data-tip=50 />
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_hue_gap" type=range min=0 max=360 value=60 data-tip=60 />
        <canvas id="canvas_{{C_o.STAT_a[2]}}_hue"></canvas>
        <label id="canvas_{{C_o.STAT_a[2]}}_hue_trace">
          <span data-icon="{{C_o.NAV_LEGEND_o.empty}}">{{C_o.NAV_LEGEND_o.empty}}</span>
          <output id="output_{{C_o.STAT_a[2]}}_hue" type="text">123</output>
          <output id="output_{{C_o.STAT_a[2]}}_hue_freq" type="text">0,001</output>
        </label>
      </div>
      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_sat">
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_sat_grade" type=range min=0 max=100 value=50 data-tip=50 />
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_sat_gap" type=range min=0 max=100 value=60 data-tip=60 />
        <canvas id="canvas_{{C_o.STAT_a[2]}}_sat"></canvas>
        <label id="canvas_{{C_o.STAT_a[2]}}_sat_trace">
          <span data-icon="{{C_o.NAV_LEGEND_o.empty}}">{{C_o.NAV_LEGEND_o.empty}}</span>
          <output id="output_{{C_o.STAT_a[2]}}_sat" type="text">123</output>
          <output id="output_{{C_o.STAT_a[2]}}_sat_freq" type="text">0,001</output>
        </label>
      </div>
      <div id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_lum">
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_lum_grade" type=range min=0 max=100 value=50 data-tip=50 />
        <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_lum_gap" type=range min=0 max=100 value=60 data-tip=60 />
        <canvas id="canvas_{{C_o.STAT_a[2]}}_lum"></canvas>
        <label id="canvas_{{C_o.STAT_a[2]}}_lum_trace">
          <span data-icon="{{C_o.NAV_LEGEND_o.empty}}">{{C_o.NAV_LEGEND_o.empty}}</span>
          <output id="output_{{C_o.STAT_a[2]}}_lum" type="text">123</output>
          <output id="output_{{C_o.STAT_a[2]}}_lum_freq" type="text">0,001</output>
        </label>
      </div>
    </aside>
  </div>

  <script id="script_{{C_o.STAT_a[2]}}" data-src="/assets/scripts/js/{{C_o.STAT_a[2]}}.min.js"></script>
</div>
