<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[1]}}">
  <input id="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}_hue" name="{{C_o.STAT_a[1]}}_nav" type="radio" checked>
  <canvas id="canvas_{{C_o.STAT_a[1]}}_hue"></canvas>
  <nav id="nav_{{C_o.STAT_a[1]}}_hue">
    <label>{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}<span id="{{C_o.STAT_a[1]}}_hue_n">0</span></label>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}"><span data-icon="substat">{{C_o.NAV_LEGEND_o.main.icon_s}}</span></label>
  </nav>

  <script id=script_{{C_o.STAT_a[1]}} data-src="/assets/scripts/js/{{C_o.STAT_a[1]}}.min.js"></script>
</div>
