<nav>
  <a href="index.html#{{C_o.SECTION_a[0]}}">{{A_o.NAME_s}}</a>
  <label for="I_{{section_a[0]}}">{{ section_a[0] }}</label>
  {{C_o.SECTION_2_LABEL_s}}
{% for _section in section_a.slice( 1 ) %}
  <label for="I_{{_section}}">{{ _section }}</label>
{% endfor %}
</nav>
