{% for _section in section_a %}
  {% set _checked = '' %}
  {% if _section === C_o.SECTION_a[0] %}
  {% set _checked = 'checked' %}
  {% endif %}
  <input id="{{C_o.INPUT_ID_s}}_{{section_a[loop.index0]}}" name="main_nav" type="radio" {{_checked}} />
{% endfor %}
{% if stat_s %}
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}" name="main_nav" type="radio" />
{% endif %}
