<section id="{{C_o.SECTION_a[2]}}">

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_masonry"></div>

  <div id="{{C_o.DIV_ID_s}}_{{C_o.SECTION_a[2]}}_masonry_control">
    <label id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_hide">{{C_o.NAV_LEGEND_o.panorama_hide.legend_s}}</label>
    <label id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_remove">{{C_o.NAV_LEGEND_o.panorama_remove.legend_s}}</label>
    <label id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_group">{{C_o.NAV_LEGEND_o.panorama_group.legend_s}}</label>
    <label id="{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[2]}}_local">{{C_o.NAV_LEGEND_o.panorama_local.legend_s}}</label>

    <input id="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_col_n" type="range" min="1" max="10" step="1" value="{{C_o.PANORAMA_COL_n}}" data-tip="{{C_o.PANORAMA_COL_n}}"/>
    <label for="{{C_o.INPUT_ID_s}}_{{C_o.SECTION_a[2]}}_col_n">{{C_o.NAV_LEGEND_o.panorama_col.legend_s}}</label>

  </div>

</section>