<section id="reserve">
  <h2>Catalogue</h2>
    <div>
      <p>
        <label>{{subtitle_s}}</label>
      </p>
    </div>

  <div id="{{C_o.DIV_ID_s}}_reserve_list">

{% include "parts/body/parts/reserve_" + reserve_s + ".html" %}

  </div>

  <input id="{{C_o.INPUT_ID_s}}_toolset" type="checkbox">
  <div id="{{C_o.DIV_ID_s}}_toolset">

    {% include "parts/body/toolset.njk" %}

    <img id="img_reserve_img" loading="lazy">
    <label for="{{C_o.INPUT_ID_s}}_toolset">{{C_o.CLOSE_s}}</label><!-- CLOSE -->
    
  </div>

</section>
