<section id="reserve">

  <div id="{{C_o.DIV_ID_s}}_reserve_list">
    <ul id="{{C_o.LIST_ID_s}}_reserve_list">
      <li>
        <dl role=button tabindex=1 data-href_s="{{C_o.MEDIA_DIR_s}}reserve/madrid-prado/Hip%C3%B3menes%20y%20Atalanta.jpg">
          <dt>Hipómenes y Atalanta</dt>
          <dd>
            <{{C_o.ROW_TAG_s}}>Museo del Prado</{{C_o.ROW_TAG_s}}>
            <{{C_o.ROW_TAG_s}}>Madrid</{{C_o.ROW_TAG_s}}>
            <{{C_o.ROW_TAG_s}}>Espagne</{{C_o.ROW_TAG_s}}>
          </dd>
        </dl>
    </ul>
  </div>

  <input id="{{C_o.INPUT_ID_s}}_toolset" type="checkbox">
  <div id="{{C_o.DIV_ID_s}}_toolset">

    {% include "parts/body/toolset.njk" %}

    <img id="img_reserve_img" loading="lazy">
    <label for="{{C_o.INPUT_ID_s}}_toolset">{{C_o.CLOSE_s}}</label><!-- CLOSE -->
    
  </div>

</section>
