{% if _nodb_b %}
{% set _path_s = '' %}
{% else %}
{% set _path_s = '../../' %}
{% endif %}

<script src="{{_path_s}}assets/scripts/js/index.min.js" defer></script>
{% for _script in script_a %}
<script src="{{_path_s}}assets/scripts/js/{{_script}}" defer></script>
{% endfor %}
