<!DOCTYPE html>
<aside id="aside_stack_imgs">
  <input id="IN_stack_imgs" type="checkbox"/>
  <div draggable=true>
    <header>
      <label for="IN_stack_imgs">Abandonner</label>
      <label>IMAGES</label>
      <label id="button_stack_imgs_select" for="IN_stack_imgs">Selectionner</label>
    </header>
    <div id="img_list">
      <main id="main_img_list">
        {% include "parts/body/parts/stack_details.html" %}
      </main>
      <aside id="aside_img_thumb"></aside><!-- !!! initialy empty -->
    </div>
  </div>
  <script id=script_stack_imgs data-src="/assets/scripts/js/stack_imgs.min.js"></script>
</aside>
