<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_stat_{{stat_s}}">
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_img" name="{{stat_s}}_nav" type="radio" checked>
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings" name="{{stat_s}}_nav" type="radio">

  <canvas id="canvas_{{stat_s}}_layer_0"></canvas>

  <nav id="{{stat_s}}_scale">
    <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings" data-legend="{{C_o.NAV_LEGEND_o.stat_open.legend_s}}"><span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_open.icon_s}}</span></label>
    <label id="{{stat_s}}_scale_inc" data-legend="{{C_o.NAV_LEGEND_o.stat_increment.legend_s}}"><span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_increment.icon_s}}</span></label>
    <label id="{{stat_s}}_scale_dec" data-legend="{{C_o.NAV_LEGEND_o.stat_decrement.legend_s}}"><span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_decrement.icon_s}}</span></label>
  </nav>



  <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_settings">
    <aside id="aside_{{stat_s}}_settings">
      <nav id="nav_{{stat_s}}_settings">
        <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_img" data-legend="{{C_o.NAV_LEGEND_o.stat_close.legend_s}}">
          <span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_close.icon_s}}</span>
        </label>
      </nav>

      <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_shape">
        <label>{{C_o.NAV_LEGEND_o.stack_shape.legend_s}}</label>
        <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_shape_items">
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_circle" name={{stat_s}}_shape type="radio" checked>
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_circle">
            <svg class="svg_icon">
              <use href="#stack_circle"></use>
            </svg>
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_hellipse" name={{stat_s}}_shape type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_hellipse">
            <svg class="svg_icon">
              <use href="#stack_helipse"></use>
            </svg>
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_vellipse" name={{stat_s}}_shape type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_vellipse">
            <svg class="svg_icon">
              <use href="#stack_velipse"></use>
            </svg>
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_square" name={{stat_s}}_shape type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_square">
            <svg class="svg_icon">
              <use href="#stack_square"></use>
            </svg>
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_hrect" name={{stat_s}}_shape type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_hrect">
            <svg class="svg_icon">
              <use href="#stack_hrect"></use>
            </svg>
          </label>
          <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_vrect" name={{stat_s}}_shape type="radio">
          <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_vrect">
            <svg class="svg_icon">
              <use href="#stack_vrect"></use>
            </svg>
          </label>
        </div>
      </div>  

      <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_dimension_range">
        <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_dimension_range">{{C_o.NAV_LEGEND_o.stack_dimension.legend_s}}</label>
        <input  id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_dimension_range" type=range min=10 max=1000 />
      </div>

      <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_list">
        <label>{{C_o.NAV_LEGEND_o.stack_layers.legend_s}}</label>
        <ul id="{{C_o.DIV_ID_s}}_{{stat_s}}_layers_list">
          <li id="{{C_o.DIV_ID_s}}_{{stat_s}}_layers_item_1">item_1</li>
          <li id="{{C_o.DIV_ID_s}}_{{stat_s}}_layers_item_0">original</li>
        </ul>
      </div>

      <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective">
        <ul id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_stack">
          <li id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_original">
            <img id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_original_img" src="" />
            <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_original_clip"></div>
          </li>
          <li id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_1">
            <img id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_1_img" src="" />
            <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_1_clip"></div>
          </li>
          <li id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_2">
            <img id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_2_img" src="" />
            <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_perspective_item_2_clip"></div>
          </li>
        </ul>
      </div>

      <div id="{{C_o.DIV_ID_s}}_{{stat_s}}_rotation_range">
        <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_rotation_range">{{C_o.NAV_LEGEND_o.stack_rotation.legend_s}}</label>
        <input  id="{{C_o.INPUT_ID_s}}_{{stat_s}}_settings_rotation_range" type=range min=-60 max=60 />
      </div>

    </aside>
  </div>

{% include "parts/body/stack_svg.njk" %}
  <script id=script_{{stat_s}} data-src="/assets/scripts/js/{{stat_s}}.min.js"></script>
</div>  
