{% set _template = '' %}
{% if stat_a %}
{% set _template %}
<section id="{{C_o.SECTION_a[2]}}">
{% for _stat in stat_a %}
  <input id="I_{{_stat}}">{{ _stat }}</label>
{% endfor %}
<nav>
{% for _stat in stat_a %}
  <label for="I_{{_stat}}">{{ _stat }}</label>
{% endfor %}
</nav>
{% for _stat in stat_a %}
  <div id=stat_{{_stat}}>
    {{ _stat }}    <!-- TEMPORARY -->
  </div>
{% endfor %}
</section>
{% endset %}
{% endif %}
{{_template}}
