{% set _path = '' %}
{% if stat_s === C_o.STAT_a[3] %}
{% set _path = workID_s + '--' %}
{% endif %}

<section id="{{stat_s}}">
  <iframe id="{{C_o.IFRAME_ID_s}}_{{stat_s}}" name="IF_{{stat_s}}" src="assets/parts/{{_path}}{{stat_s}}.html"></iframe>
</section>
