<input id={{C_o.STATS_a[0]}} />
<input id={{C_o.STATS_a[1]}} />
<input id={{C_o.STATS_a[2]}} />

<nav>
  <label for={{C_o.STATS_a[0]}}>{{C_o.STATS_a[0]}}</label>
  <label for={{C_o.STATS_a[1]}}>{{C_o.STATS_a[1]}}</label>
  <label for={{C_o.STATS_a[2]}}>{{C_o.STATS_a[2]}}</label>
</nav>

<div id=S_{{C_o.STATS_a[0]}}>
  BURST
</div>
<div id=S_{{C_o.STATS_a[1]}}>
  ASTER
</div>
<div id=S_{{C_o.STATS_a[2]}}>
  PAINT
</div>
