<!DOCTYPE html>
<div id="{{C_o.DIV_ID_s}}_{{stat_s}}">
{% if stat_s === C_o.STAT_a[0] %}
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_hue" name="{{stat_s}}_nav" type="radio" checked>
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_sat" name="{{stat_s}}_nav" type="radio">
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_lum" name="{{stat_s}}_nav" type="radio">
  <canvas id="canvas_{{stat_s}}_hue"></canvas>
  <canvas id="canvas_{{stat_s}}_sat"></canvas>
  <canvas id="canvas_{{stat_s}}_lum"></canvas>
  <nav>
    <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_hue" data-legend="{{C_o.NAV_LEGEND_o.burst_hue.legend_s}}"><span data-icon="substat">{{C_o.NAV_LEGEND_o.main.icon_s}}</span></label>
    <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_sat" data-legend="{{C_o.NAV_LEGEND_o.burst_sat.legend_s}}"><span data-icon="substat">{{C_o.NAV_LEGEND_o.main.icon_s}}</span></label>
    <label for="{{C_o.INPUT_ID_s}}_{{stat_s}}_lum" data-legend="{{C_o.NAV_LEGEND_o.burst_lum.legend_s}}"><span data-icon="substat">{{C_o.NAV_LEGEND_o.main.icon_s}}</span></label>
    <label for="{{C_o.LABEL_ID_s}}_{{stat_s}}_scale_up" data-legend="{{C_o.NAV_LEGEND_o.stat_increment.legend_s}}"><span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_increment.icon_s}}</span></label>
    <label for="{{C_o.LABEL_ID_s}}_{{stat_s}}_scale_down" data-legend="{{C_o.NAV_LEGEND_o.stat_decrement.legend_s}}"><span data-icon="substat_op">{{C_o.NAV_LEGEND_o.stat_decrement.icon_s}}</span></label>
  </nav>
{% endif %}
{% if stat_s === C_o.STAT_a[1] %}
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_hue" name="{{stat_s}}_nav" type="radio">
  <nav>
  </nav>
{% endif %}
{% if stat_s === C_o.STAT_a[2] %}
  <input id="{{C_o.INPUT_ID_s}}_{{stat_s}}_hue" name="{{stat_s}}_nav" type="radio">
  <nav>
  </nav>
{% endif %}
  <script id=script_{{stat_s}} data-src="/assets/scripts/js/{{stat_s}}.min.js"></script>
</div>
