<dialog id="dialog_work_caption">
  <form id="form_work_caption" method="dialog">
    <div id="{{C_o.DIV_ID_s}}_work_caption">
      <header>
        <label id="{{C_o.LABEL_ID_s}}_work_caption_header" control></label>
        <label for="{{C_o.INPUT_ID_s}}_work_caption_cancel">&#10006;</label>
        <input id="{{C_o.INPUT_ID_s}}_work_caption_cancel" type="checkbox">
        <label for="{{C_o.INPUT_ID_s}}_work_caption_reset">&#8634;</label>
        <input id="{{C_o.INPUT_ID_s}}_work_caption_reset" type="checkbox">
        <label for="{{C_o.INPUT_ID_s}}_work_caption_accept">&#10003;</label>
        <input id="{{C_o.INPUT_ID_s}}_work_caption_accept" type="checkbox">
      </header>
      <ul id="{{C_o.LIST_ID_s}}_work_caption_list">
        <li id=item_1>
          <label control>créateur</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_artist_s" type="text">
        <li id=item_2>
          <label control>sujet</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_subject_s" type="text">
        <li id=item_3>
          <label control>date de création</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_year_n" type="text">
        <li id=item_4>
          <label control>hauteur</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_w_height_n" type="text">
        <li id=item_5>
          <label control>largeur</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_w_width_n" type="text">
        <li id=item_6>
          <label control>collection</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_location_s" type="text">
        <li id=item_7>
          <label control>lieu</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_place_s" type="text">
        <li id=item_8>
          <label control>pays</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_country_s" type="text">
        <li id=item_9>
          <label control>lien</label>
          <input id="{{C_o.INPUT_ID_s}}_work_caption_link_s" type="text">
      </ul>
    </div>
  </form>
</dialog>
