aside {
  background: var(--bgcolor);
}
aside > figure {
  display: none;
}
aside > figure > a > img {
  width: 100%;
  max-width: {{C_o.FULL_WIDTH_s}};
  max-height: calc( {{C_o.FULL_HEIGHT_s}} - {{C_o.PAD_8}} );
  object-fit: scale-down;
}
figure:target {
  display: block;
  position: fixed;
  top: {{C_o.PAD_8}};
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bgcolor);
}
aside#gray > figure > a > img {
  cursor: url(cursor_color.svg), auto;
}
aside#color > figure > a > img {
  cursor: url(cursor_gray.svg), auto;
}
