body {
  --min_height: 200vh;
  --nav_width: 12ch;
  position: relative;
  overflow-X: hidden;
  min-height: var(--min_height);
  color: {{S_o.textcolor}};
  background: {{S_o.bgcolor}};
  font-family: {{S_o.FONT_BODY_s}};
}
body > input {
  display: none;
  position: absolute;
}
body > nav {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  padding-right: 20%;
  margin-top: {{S_o.PAD_2}};
}
body > iframe {
  display: none;
}
body > label#goto_{{C_o.FULL_SCREEN}}, body > label#goto_{{C_o.PAGE_TOP}} {
  z-index: 20;
  position: fixed;
  top: calc( 100vh - 6vmin );
  left: calc( 100vw - 6vmin );
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid {{S_o.nav_dot_set_4}};
  border-radius: 8px;
  background: transparent;
}
body > label#goto_{{C_o.FULL_SCREEN}} {
  display: none;
  top: {{S_o.PAD_2}};
}
body > label#goto_{{C_o.FULL_SCREEN}}:hover, body > label#goto_{{C_o.PAGE_TOP}}:hover {
  background: {{S_o.shadow_ne}};
}
.range-separator {
  display: inline-flex;
  align-self: center;
  transform: scaleX( 2 );
}
