body {
  position: relative;
  overflow-X: hidden;
  min-height: 200vh;
  color: var(--textcolor);
  background: var(--bgcolor);
  font-family: {{S_o.FONT_BODY_s}};
}
body > input {
  display: none;
  position: absolute;
}
body > nav {
  position: sticky;
  top: 0;
  z-index: 2;
}
