ul[data-role=list] > li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
ul[data-role=list] > li > b {
  padding: {{S_o.PAD_2}};
}
ul[data-role=list] > li > b:first-child {
  width: 35%;
  font-weight: 600;
}
ul[data-role=list] > li > b:nth-child(2) {
  width: 60%;
  text-align: right;
  font-family: {{S_o.FONT_BODY_s}};
  font-size: 80%;
}
ul[data-role=list] > li > b:nth-child(2) > bold, ul[data-role=list] > li > b:nth-child(2) > bold {
  font-weight: 600;
}
ul[data-role=list] > li > input, ul[data-role=list] > li > input + ins {
  display: none;
}
ul[data-role=list] > li > input + ins + label {
  width: 100%;
  padding-left: {{S_o.PAD_8}};
  font-style: italic;
  margin: 0 {{S_o.PAD_1}};
  vertical-align: baseline;
  cursor: pointer;
}
ul[data-role=list] > li > input:checked + ins {
  --font_max: 18px;
  --font_scale: 1.9vw;
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: {{S_o.PAD_1}} 0;
  padding: {{S_o.PAD_4}};
  background: var(--insert);
  text-decoration: none;
  border: 1px solid var(--shadow_ne);
  border-radius: 4px;
}
ul[data-role=list] > li > input:checked + ins > p:first-of-type {
  margin-top: {{S_o.PAD_8}};
}
ul[data-role=list] > li > input:checked + ins > label {
  position: absolute;
  top: 0;
  right: 0;
  margin: {{S_o.PAD_1}};
  padding: {{S_o.PAD_1}} {{S_o.PAD_2}};
  color: currentColor;
  background: var(--bgcolor);
  border: 2px solid var(--shadow_ne);
  border-radius: 4px;
}
ul[data-role=list] > li > input:checked + ins + label {
  display: none;
}
ul[data-role=list] > li > input:checked + ins:hover {
  filter: brightness( var(--brigtness_hi) );
}
ul[data-role=list] > li > label:not(data--=comment) {
  width: 1.8em;
  height: 1.8em;
  font-size: 90%;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid var(--shadow_ne);
  border-radius: 50%;
  background: transparent;
}
