form[name=comment] {
  padding: {{CSS_o.PAD_1}} {{CSS_o.PAD_2}};
  color: currentColor;
  background: var(--bgcolor);
  border: 2px solid var(--shadow_ne);
  border-radius: 4px;
  position: relative;
  width: 100%;
  padding: {{CSS_o.PAD_2}};
  box-shadow: 0 0 0 1000vmax var(--shadow_hi);
}
form[name=comment] > label[for=comment_input] {
  position: absolute;
  top: 0;
  right: 0;
  margin: {{CSS_o.PAD_1}};
  padding: {{CSS_o.PAD_1}} {{CSS_o.PAD_2}};
  color: currentColor;
  background: var(--bgcolor);
  border: 2px solid var(--shadow_ne);
  border-radius: 4px;
}
form[name=comment] > p[data--=netlify-honeypot] {
  display: none;
}
form[name=comment] > label {
  --font_max: 20px;
  --font_scale: 2.2vw;
  font-weight: 600;
  margin-top: {{CSS_o.PAD_8}};
}
form[name=comment] > textarea {
  min-height: 16rem;
}
form[name=comment] > textarea, form[name=comment] > input {
  padding: {{CSS_o.PAD_1}} {{CSS_o.PAD_2}};
  color: currentColor;
  background: var(--bgcolor);
  border: 2px solid var(--shadow_ne);
  border-radius: 4px;
  font-weight: 200;
}
form[name=comment] > textarea:focus, form[name=comment] > label:hover, form[name=comment] > button:hover, form[name=comment] > input:focus {
  filter: brightness( var(--brigtness_hi) );
}
form[name=comment] > button {
  padding: {{CSS_o.PAD_1}} {{CSS_o.PAD_2}};
  color: currentColor;
  background: var(--bgcolor);
  border: 2px solid var(--shadow_ne);
  border-radius: 4px;
  --font_max: 20px;
  --font_scale: 2.2vw;
  font-weight: 600;
  border: 2px solid var(--accept_hi);
  text-transform: uppercase;
  cursor: pointer;
  filter: brightness( var(--brigtness_lo) );
}
form[name=comment] > button[type=reset] {
  margin: auto;
  width: 33%;
  --font_max: 18px;
  --font_scale: 2vw;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
  border: 2px solid var(--cancel_hi);
  font-style: normal;
}
