label[for]:hover {
  filter: invert( .5 );
}
label[for]:not[data-ins] {
  cursor: pointer;
}
label[for]:not[data-ins] > em {
  margin: 0 {{S_o.PAD_1}};
  vertical-align: baseline;
  font-style: normal;
}
label[for]:not[data-ins] + input#comment_input, label[for]:not[data-ins] + input#comment_input + iframe {
  display: none;
}
label + input#comment_input + form[name=comment] {
  display: none;
}
label + input#comment_input:checked + form[name=comment] {
  display: flex;
  flex-direction: column;
  gap: {{S_o.PAD_2}};
}
