div[id$=_dock] {
  z-index: 101;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: {{S_o.SETTINGS_WIDTH}};
  border-bottom-right-radius: 8px;
}
div[id$=_dock] > input, div[id$=_dock] > input + div {
  display: none;
}
div[id$=_dock] > input:checked + div {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_8}} {{S_o.PAD_2}} {{S_o.PAD_2}};
  background: {{S_o.light}};
  border-radius: 4px;
  box-shadow: 0 0 0 1000vmax hsla( 211 28% 25.5% /.75);
}
div[id$=_dock] > input:checked + div > label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: {{S_o.PAD_2}};
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid {{S_o.light_07}};
  font-size: 85%;
}
div[id$=_dock] > input:checked + div > label:hover {
  filter: brightness( {{S_o.brightness_hi2}} );
}
div[id$=_dock] > input:checked + div > div#{{C_o.DIV_ID_s}}_dock_nav_top {
  display: flex;
  gap: {{S_o.PAD_2}};
  position: relative;
  top: -2rem;
  left: 2rem;
  margin-bottom: 1rem;
}
div[id$=_dock] > input:checked + div > div#{{C_o.DIV_ID_s}}_dock_nav_top > label {
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
  border-radius: 50%;
  background: transparent;
}
div[id$=_dock] > input:checked + div > div#{{C_o.DIV_ID_s}}_dock_nav_top > label:nth-of-type( 2 ) {
  transform: translateX( calc( -100% - {{S_o.PAD_2}} ) );
}
div[id$=_dock] > input[type=range] {
  align-self: center;
  position: relative;
  width: 200px;
  background: transparent;
  cursor: pointer;
}
div[id$=_dock] > input[type=range]:focus {
  outline: none;
  filter: hue-rotate( -220deg );
}
div[id$=_dock]:hover > nav {
  align-self: center;
}
