header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: var(--bgcolor);
  opacity: .25;
  transition: all 5s;
}
header > a {
  text-decoration: none;
  color: currentColor;
  font-weight: 400;
  text-transform: capitalize;
  filter: brightness( var(--brigtness_lo) );
}
header > a:focus, header > a:hover {
  border-bottom: 1px solid;
  filter: brightness( var(--brigtness_hi) );
  transition: opacity .2s;
}
header:hover {
  filter: saturate(5);
  opacity: 1;
  transition: all .2s;
}
section#{{C_o.SECTION_a[0]}}:target ~ header > a[href="#{{C_o.SECTION_a[0]}}"], section#{{C_o.SECTION_a[1]}}:target ~ header > a[href="#{{C_o.SECTION_a[1]}}"] {
  visibility: hidden;
}
