/* === inline insert ===*/

label {
  --font_size-max: .75rem;
  z-index: 5;
  margin-right: {{C_o.PAD_2}};
  vertical-align: middle;
  cursor: pointer;
}

input[id^="{{C_o.INSERT_ID_s}}"],
input[id^="{{C_o.INSERT_ID_s}}"] + ins {
  display: none;
}

input[id^="{{C_o.INSERT_ID_s}}"] + ins
{
  --font_size-max: .95rem;

  position: relative;
  margin: {{C_o.PAD_1}} 0 {{C_o.PAD_4}} 0;
  padding: {{C_o.PAD_4}};
  background: var(--insert);
  text-decoration: none;
  border-radius: 4px;
  /*
  box-shadow: 0 1px 1px var(--shadow),
              0 2px 2px var(--shadow),
              0 4px 4px var(--shadow);
              */
}

/*
input[id^="{{C_o.INSERT_ID_s}}"] + ins > a::before
{
  content: '\1F441';
  position: relative;
  top: 1.5rem;
  left: -1rem;
  font-size: 2rem;
  opacity: .1;
}
input[id^="{{C_o.INSERT_ID_s}}"] + ins > a:hover::before
{
  opacity: 1;
  transition: .25s;
}
*/

input[id^="{{C_o.INSERT_ID_s}}"] + ins *,
figure[id^="{{C_o.SLIDE_ID_s}}"] > figcaption *
{
  --font_size-min: .75rem;
  --font_size-max: 1rem;
  font-style: normal;
  font-weight: 200;
}

input[id^="{{C_o.INSERT_ID_s}}"] + ins > b,
figure[id^="{{C_o.SLIDE_ID_s}}"] > figcaption > b
{
  display: table;
}

input[id^="{{C_o.INSERT_ID_s}}"] + ins > b:nth-of-type(1),
figure[id^="{{C_o.SLIDE_ID_s}}"] > figcaption > b:nth-of-type(1)
{
  --font_size-max: 1.5rem;

  font-weight: 600;
}
input[id^="{{C_o.INSERT_ID_s}}"] + ins > b:nth-of-type(2),
figure[id^="{{C_o.SLIDE_ID_s}}"] > figcaption > b:nth-of-type(2)
{
  --font_size-max: 1.25rem;

  font-weight: 400;
}

input[id^="{{C_o.INSERT_ID_s}}"] + ins > b > {{C_o.IOR_DIM_TAG_s}}:first-of-type::after,
figure[id^="{{C_o.SLIDE_ID_s}}"] > figcaption > b > {{C_o.IOR_DIM_TAG_s}}:first-of-type::after
{
  content: '\00A0\{{C_o.DIM_SEPARATOR_s}}\00A0';
}

input[id^="{{C_o.INSERT_ID_s}}"] + ins > a
{
  position: absolute;
  bottom: {{C_o.PAD_3}};    /* avoid masking legend 1st line */
  right:  {{C_o.PAD_3}};
  border: 0;
  cursor: zoom-in;
}


input[id^="{{C_o.INSERT_ID_s}}"] + ins > img
{
  max-height: 128px;
  border-radius: 4px;
  box-shadow: 0 1px 1px var(--shadow),
              0 2px 2px var(--shadow),
              0 4px 4px var(--shadow),
              0 8px 8px var(--shadow);
}


input[id^="{{C_o.INSERT_ID_s}}"] + ins > label
{
  --font_size-max: 1.5rem;

  display: grid;
  place-items: center;
  position: absolute;
  top:   {{C_o.PAD_2}};
  right: 0;    /* padding-right: {{C_o.PAD_2}} */

  width:  1.5em;
  height: 1.5em;
  
  border: 0;
  border-radius: 50%;
  color: var(--highlight);
  background: var(--bg_lower);
  opacity: .5;
  cursor: pointer;
}
input[id^="{{C_o.INSERT_ID_s}}"] + ins > label:hover
{
  opacity: 1;
  filter: brightness(2);
}



/* === interactivity ===*/
label:hover {
  color: var(--highlight);
}



input[id^="{{C_o.INSERT_ID_s}}"]:checked + ins {
  display: block;
}
