/* === lightbox === */
/*aside > a,
aside > figure {*/
  aside > * {
    display: none;
}

aside > figure img {
  object-fit: scale-down;
  z-index: 4;
  max-width: {{C_o.FULL_WIDTH_s}};
  max-height: {{C_o.FULL_HEIGHT_s}};
}


#gray > figure img {
  cursor: url(cursor_color.svg), auto;
}
#color > figure img {
  cursor: url(cursor_gray.svg), auto;
}

a > button {
  z-index: 5;
  width:  1.5em;
  height: 1.5em;
  border: 0;
  border-radius: 50%;
  color: var(--highlight);
  background: var(--bg_lower);
  font-size: 2em;
  opacity: .5;
  cursor: pointer;
}

/* === interactivity ===*/

aside > figure:target,
aside > figure:target ~ a {
  z-index: 3;
  position: fixed;
}

aside > figure:target {
  display: grid;
  place-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--bgcolor);
}

aside > figure:target ~ a {
  display: block;
  top: {{C_o.PAD_2}};
  left: 50%;
}


a > button:hover {
  opacity: 1;
  filter: brightness(2);
}
