label[data-list=link_n]:hover {
  filter: invert( .5 );
}
label[data-list=link_n] {
  padding: {{S_o.PAD_2}};
  border: 1px solid {{S_o.light_07}};
  border-radius: 4px;
  font-weight: {{S_o.FONT_BOLD_s}};
  cursor: pointer;
}
label[data-list=link_n] + input {
  display: none;
}
label[data-list=link_n] + input + ul[data-list=link_a] {
  display: none;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: {{S_o.PAD_2}} 0 {{S_o.PAD_2}} ;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > {{C_o.ROW_TAG_s}}:first-child {
  width: 45%;
  font-size: 80%;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > {{C_o.ROW_TAG_s}}:nth-child(2) {
  width: 50%;
  text-align: right;
  font-family: {{S_o.FONT_BODY_s}};
  font-weight: {{S_o.FONT_BOLD_s}};
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > {{C_o.ROW_TAG_s}}:nth-child(2) > label[for] {
  margin-bottom: {{S_o.PAD_4}};
  font-weight: {{S_o.FONT_BOLD_s}};
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > {{C_o.ROW_TAG_s}}:nth-child(2) > bold, label[data-list=link_n] + input + ul[data-list=link_a] > li > {{C_o.ROW_TAG_s}}:nth-child(2) > bold {
  font-weight: {{S_o.FONT_BOLD_s}};
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input, label[data-list=link_n] + input + ul[data-list=link_a] > li > input + ins {
  display: none;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input + ins + label {
  width: 100%;
  padding-left: {{S_o.PAD_8}};
  font-style: italic;
  margin: 0 {{S_o.PAD_1}};
  vertical-align: baseline;
  cursor: pointer;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > label:not(data--=abstract) {
  width: 1.8em;
  height: 1.8em;
  font-size: 90%;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid {{S_o.light_05}};
  border-radius: 50%;
  background: transparent;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input:checked + ins {
  --font_max: 20px;
  --font_scale: 1.6vw;
  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  margin: {{S_o.PAD_1}} 0;
  padding: {{S_o.PAD_4}};
  background: {{S_o.light_01}};
  text-decoration: none;
  border: 1px solid {{S_o.light_05}};
  border-radius: 4px;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input:checked + ins > p:first-of-type {
  margin-top: {{S_o.PAD_8}};
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input:checked + ins > label {
  position: absolute;
  top: 0;
  right: 0;
  margin: {{S_o.PAD_1}};
  padding: {{S_o.PAD_1}} {{S_o.PAD_2}};
  color: currentColor;
  background: {{S_o.bg}};
  border: 2px solid {{S_o.light_05}};
  border-radius: 4px;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input:checked + ins + label {
  display: none;
}
label[data-list=link_n] + input + ul[data-list=link_a] > li > input:checked + ins:hover {
  filter: brightness( {{S_o.brightness_hi}} );
}
label[data-list=link_n] + input:checked + ul[data-list=link_a] {
  display: block;
  width: {{S_o.INS_WIDTH_s}};
}
