:root {
  --{{C_o.STAT_a[3]}}_img_width: 100;
}
body {
  overflow: auto;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} {
  --reference_padding: {{S_o.PAD_16}};
  align-items: flex-start;
  padding: var(--reference_padding);
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img {
  display: block;
  position: relative;
  object-position: 0% 0%;
  object-fit: none;
}
.svg_icon {
  --svg_icon_dim: 24px;
  fill: {{S_o.highlight}};
  stroke: none;
  width: var(--svg_icon_dim);
  height: var(--svg_icon_dim);
}
