nav {
  display: flex;
  justify-content: center;
  gap: {{CSS_o.PAD_8}};
  width: 100%;
  height: {{CSS_o.PAD_6}};
  background: var(--bgcolor);
}
nav > a:before, nav > label:before {
  content: attr( data-legend );
  position: absolute;
  left: 1.5em;
  font-size: 85%;
  line-height: 2;
  transform: translateX( -10em );
  transition: transform ease .5s;
}
nav > a, nav > label {
  position: relative;
  overflow: hidden;
  width: 5vw;
  font-weight: 500;
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
  opacity: .2;
  transition: all ease .2s;
}
nav > a:hover, nav > label:hover {
  width: 15vw;
  transition: all ease .5s;
}
nav > a:hover:before, nav > label:hover:before {
  transform: translateX( 0 );
}
nav:hover {
  filter: saturate(5);
  transition: all .2s;
}
nav:hover > a, nav:hover > label {
  opacity: 1;
  filter: brightness( var(--brigtness_hi) );
  transition: opacity .2s;
}
