/* === nav === */

header {
  z-index: 2;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: {{C_o.PAD_4}} {{C_o.PAD_4}} 0 {{C_o.PAD_4}};
  width: 100%;
  background: var(--bgcolor);
  line-height: 1;
}

header a {
  font-weight: 600;
  filter: brightness( var(--brigtness_lo) );
}

nav a:not(:last-of-type) {
  margin-right: {{C_o.PAD_8}};
}

h1 {
  --font_size-min: 1rem;
  --font_size-max: 1.5rem;
  --font_size-target: 5vw;

  flex: 1; /* pushes nav to the right */
  margin-bottom: {{C_o.PAD_4}};
  padding: 0 {{C_o.PAD_4}} {{C_o.PAD_2}} 0;
  font-weight: 600;
  white-space: nowrap;
}

/* ------- Smaller screens ------- */

@media only screen and (max-width: 540px) {
  nav { width: 100%; } /* Fix for older webkit versions */
}
