input[type=range]:before {
  content: attr( data-label );
  position: absolute;
  top: -.8rem;
  font-size: 85%;
  color: currentColor;
}
input[type=range]:after {
  content: attr( data-tip );
  z-index: 2;
  position: absolute;
  left: 90%;
  top: -.8rem;
  font-size: 85%;
  color: currentColor;
}
input[type=range] {
  -webkit-appearance: none;
  position: relative;
  margin: .5rem 0;
  min-height: 1.4em;
  background: transparent;
  font: inherit;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-bottom: -.5em;
  border: none;
  width: 1em;
  height: .5em;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  background: {{S_o.text}};
}
input[type=range]::-webkit-slider-runnable-track {
  border: none;
  width: 100%;
  height: 0.25em;
  background: {{S_o.range}};
}
