body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list {
  padding-top: calc( {{S_o.NAV_HEIGHT_s}} + {{S_o.PAD_4}} );
  max-width: 100vw;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 2rem;
  border: none;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li {
  width: 31%;
  cursor: pointer;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl {
  border-radius: 4px;
  background: hsla( 190 28% 37.75% /1);
  opacity: .75;
  transition: .2s ease;
  transition-delay: .2s;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dt {
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 500;
  color: {{S_o.darker}};
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dt:hover {
  background: {{S_o.shadow_ne}};
  filter: brightness( 4 );
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dd {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dd > * {
  font-size: 70%;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl:hover {
  transform: scale(1.02);
  opacity: 1;
  transition: .2s ease;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li:before {
  content: '';
}
body > section#reserve > input {
  display: none;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset {
  display: grid;
  position: absolute;
  top: {{S_o.NAV_HEIGHT_s}};
  margin: auto;
  max-width: 100vmin;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset > * {
  grid-area: 1/-1;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset > nav#{{C_o.NAV_ID_s}}_toolset_zoom {
  display: flex;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset > img {
  width: 100%;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset > label {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid {{S_o.nav_dot_set_4}};
  border-radius: 8px;
  background: transparent;
  z-index: 101;
  position: absolute;
  top: -{{S_o.NAV_HEIGHT_s}};
  background: {{S_o.shadow_full}};
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_toolset > label:hover {
  background: {{S_o.shadow_hi4}};
  cursor: pointer;
}
body > section#reserve > input:not( :checked ) + div#{{C_o.DIV_ID_s}}_toolset {
  display: none;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_toolset:has( #{{C_o.INPUT_ID_s}}_toolset_zoom:checked ) > img {
  position: absolute;
  width: auto;
  max-width: none;
  max-height: none;
  object-fit: none;
  cursor: move;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_toolset:has( #{{C_o.INPUT_ID_s}}_toolset_zoom:checked ) > nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:checked ~ label[for]:nth-of-type( 1 ) {
  background: {{S_o.highlight}};
}
body:has( #reserve ) > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[1]}} {
  visibility: hidden;
}
body:has( #reserve ) > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[1]}} {
  visibility: hidden;
}
