body > :root {
  --reserve_zoom_out_s: none;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list {
  padding: calc( {{S_o.NAV_HEIGHT_s}} + {{S_o.PAD_4}} ) 1vmin 1vmin;
  max-width: 100vw;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5em;
  border: none;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li {
  width: 31%;
  cursor: pointer;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl {
  border-radius: 4px;
  background: hsla( 190 28% 37.75% /1);
  opacity: .75;
  transition: .2s ease;
  transition-delay: .2s;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dt {
  padding: 0.5em;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 500;
  color: {{S_o.darker}};
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dt:hover {
  background: {{S_o.shadow_ne}};
  filter: brightness( 4 );
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dd {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl > dd > * {
  font-size: 70%;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li > dl:hover {
  transform: scale(1.02);
  opacity: 1;
  transition: .2s ease;
}
body > section#reserve > div#{{C_o.DIV_ID_s}}_reserve_list > ul > li:before {
  content: '';
}
body > section#reserve > input {
  display: none;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img {
  display: grid;
  margin: auto;
  max-width: 80vmin;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img > * {
  grid-area: 1/-1;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img > img {
  width: 100%;
  box-shadow: 0 0 10vmax 1000vmax {{S_o.shadow_full}};
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img > label {
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid {{S_o.nav_dot_set_4}};
  border-radius: 8px;
  background: transparent;
  z-index: 101;
  position: relative;
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img > label:nth-of-type(2) {
  left: 100%;
  transform: translateX( -100% );
}
body > section#reserve > input:checked + div#{{C_o.DIV_ID_s}}_reserve_img > label:hover {
  cursor: pointer;
  background: {{S_o.shadow_ne}};
}
body > section#reserve > input:not( :checked ) + div#{{C_o.DIV_ID_s}}_reserve_img {
  display: none;
}
body:has( #reserve ) > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[1]}} {
  visibility: hidden;
}
body:has( section#reserve ) > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.SECTION_a[1]}} {
  visibility: hidden;
}
