section > div[id^={{C_o.DIV_ID_s}}_stat] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > input, section > div[id^={{C_o.DIV_ID_s}}_stat] > canvas {
  display: none;
  background: transparent;
  cursor: crosshair;
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: {{S_o.PAD_2}};
  z-index: 1;
  position: absolute;
  padding: {{S_o.PAD_2}};
  width: {{ S_o.NAV_SETTINGS_s}};
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav > label > span[data-icon=substat] {
  background: {{S_o.nav_spot_stat}};
  opacity: 0;
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id$="_settings"] {
  top: {{S_o.PAD_8}};
  left: {{S_o.PAD_2}};
  height: fit-content;
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id$="_settings"] > label > span[data-role=increment] {
  background: {{S_o.nav_spot_set_1}};
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id$="_settings"] > label > span[data-role=decrement] {
  background: {{S_o.nav_spot_set_2}};
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id$="_settings"] > label > span[data-role=open] {
  background: {{S_o.nav_spot_set_3}};
}
section > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id$="_settings"] > label:hover > span {
  background: transparent;
}
section > div:not([id="{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}}"]) {
  width: {{S_o.FULL_WIDTH_s}};
  height: 100vh;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked ~ section#{{C_o.STAT_a[0]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}:checked ~ section#{{C_o.STAT_a[1]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}:checked ~ section#{{C_o.STAT_a[2]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}:checked ~ section#{{C_o.STAT_a[3]}} {
  display: block;
}
