section#{{C_o.SECTION_a[2]}} > input {
  display: none;
}
section#{{C_o.SECTION_a[2]}} > input ~ div {
  display: none;
  position: absolute;
  width: {{CSS_o.FULL_WIDTH_s}};
  min-height: calc( {{CSS_o.FULL_HEIGHT_s}} - {{CSS_o.PAD_8}});
  color: currentColor;
  background: var(--bgcolor);
}
section#{{C_o.SECTION_a[2]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked ~ div#{{C_o.STAT_a[0]}}, section#{{C_o.SECTION_a[2]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}:checked ~ div#{{C_o.STAT_a[1]}}, section#{{C_o.SECTION_a[2]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}:checked ~ div#{{C_o.STAT_a[2]}} {
  display: block;
}
