section#{{C_o.SECTION_a[1]}} {
  column-count: 2;
  column-gap: 0;
  margin: 1vmin;
  max-width: 100vw;
}
section#{{C_o.SECTION_a[1]}} > figure {
  --figure_border: 2vmin;
  display: grid;
  position: relative;
}
section#{{C_o.SECTION_a[1]}} > figure > * {
  grid-area: 1/-1;
}
section#{{C_o.SECTION_a[1]}} > figure > img {
  max-width: 100%;
  height: auto;
  border-style: solid;
  border-width: var(--figure_border);
  border-image: radial-gradient( var(--frame_gradient_from), var(--frame_gradient_to) ) 1;
}
section#{{C_o.SECTION_a[1]}} > figure > a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid var(--shadow_ne);
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption {
  padding: calc( var(--figure_border) * 2);
  height: 100%;
  background: var(--shadow_hi);
  opacity: 0;
  transition: opacity .4s ease;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] {
  opacity: 0;
  transition: opacity .6s ease;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}} {
  display: table;
  --font_max: 18px;
  --font_scale: 1.9vw;
  font-style: normal;
  line-height: 1.3;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}} > i {
  font-style: normal;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}} > i:first-of-type::after {
  content: '\00A0\{{S_o.DIM_SEPARATOR_s}}\00A0';
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}} > a {
  color: currentColor;
  text-decoration: none;
  border-bottom: 1px solid var(--shadow_ne);
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}} > a:hover {
  border-bottom: 1px solid;
  filter: brightness( var(--brigtness_hi) );
  transition: opacity .2s;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}}:nth-of-type(1) {
  --font_max: 20px;
  --font_scale: 2.2vw;
  font-weight: 600;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption > {{C_o.TABLE_TAG_s}}[data-spec={{C_o.INS_IMG_s}}] > {{C_o.ROW_TAG_s}}:nth-of-type(2) {
  --font_max: 18px;
  --font_scale: 2vw;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}
section#{{C_o.SECTION_a[1]}} > figure > a > figcaption:hover {
  opacity: 1;
  transition: opacity .6s ease;
}
