h3 {
  --font_scale: 3vw;
  font-weight: 600;
}
h4 {
  --font_scale: 2.75vw;
  font-weight: 400;
}
h5 {
  --font_scale: 2.5vw;
  font-weight: 400;
}
h6 {
  --font_scale: 2.25vw;
  font-weight: 400;
}
ul {
  border-left: 1px solid var(--shadow_ne);
}
ul > li {
  padding-left: .8rem;
  color: currentColor;
  list-style: none;
}
ul > li > a {
  color: currentColor;
  text-decoration: none;
}
ul > li > a:hover {
  border-bottom: 1px solid;
  filter: brightness( var(--brigtness_hi) );
  transition: opacity .2s;
}
ul > li:before {
  content: '\{{CSS_o.LIST_MARKER_s}}';
  position: relative;
  left: -1rem;
  color: var(--shadow_ne);
}
section {
  display: none;
  content-visibility: auto;
  position: absolute;
  top: 0;
  width: {{CSS_o.FULL_WIDTH_s}};
  min-height: {{CSS_o.FULL_HEIGHT_s}};
  height: auto;
  padding-top: {{CSS_o.PAD_8}};
  background: var(--bgcolor);
}
section:target {
  display: block;
}
