/* === section === */
section {
  content-visibility: auto;   /* ?????????????? */
  display: none;
  position: absolute;
  width: {{C_o.FULL_WIDTH_s}};
  min-height: {{C_o.FULL_HEIGHT_s}};
  background: var(--bgcolor);
}

section > p,
section > ol,
section > ul
{
  max-width: 60ch;
  margin: 0 auto;
}

h1,
h2 {
  margin: {{C_o.PAD_}} 0;
  max-width: 60ch;
  text-align: center;
  font-weight: 200;
  line-height: 0.7;
  filter: brightness( var(--brigtness_lo) );
}

h1 {
  --font_size-min: 3rem;
  --font_size-max: 4rem;
}

h2 {
  --font_size-min: 2rem;
  --font_size-max: 3rem;
}

section > h1 + input,
section > h2 + input,
section > h2 + input + div {
  display: none;
}

section > h1 + input + div,
section > h2 + input:checked + div {
  display: block;
}


/* === interactivity ===*/
section#{{F_o.slug__s( C_o.SEC_TEXT_s )}},    /* default */
section:target
 {
  display: block;
}
