:root {
  --{{C_o.STAT_a[3]}}_img_width: 100;
}
body {
  overflow: auto;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img {
  display: block;
  object-fit: none;
  object-position: 0% 0%;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img[data-layer_n="0"] {
  opacity: 1;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img[data-layer_n="1"] {
  width: calc( var(--{{C_o.STAT_a[3]}}_img_width) * var(--{{C_o.STAT_a[3]}}_img_ratio_1) * 1% );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img[data-layer_n="2"] {
  width: calc( var(--{{C_o.STAT_a[3]}}_img_width) * var(--{{C_o.STAT_a[3]}}_img_ratio_2) * 1% );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img[data-layer_b="0"] {
  display: none;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > .layer_align {
  border: 4px dotted {{S_o.highlight}};
  opacity: .5;
  cursor: move;
  z-index: {{C_o.DRAG_IMG_Z_n}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > canvas#canvas_{{C_o.STAT_a[3]}}_clip {
  display: block;
  position: absolute;
  border: 4px dotted {{S_o.highlight}};
  background: {{S_o.shadow_lo}};
  z-index: {{C_o.DRAG_IMG_Z_n}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings {
  display: none;
  z-index: 1;
  position: absolute;
  top: {{S_o.PAD_6}};
  left: 0;
  width: calc( var(--stack_dim) + {{S_o.PAD_4}} );
  transform: translateX( -(var(--stack_dim) + {{S_o.PAD_4}} ) );
  transition: .5s ease;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > .layer_align ~ nav#{{C_o.STAT_a[3]}}_scale, section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > .layer_align ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings {
  z-index: {{C_o.DRAG_SETTINGS_Z_n}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  position: fixed;
  top: 90vh;
  margin: auto;
  padding: {{S_o.PAD_2}};
  width: fit-content;
  border: 1px solid {{S_o.ins_shadow_ne}};
  border-radius: 4px;
  cursor: pointer;
  opacity: .1;
  transform: scale( .8 );
  transition: .2s;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > li > input {
  display: none;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > li > label {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > li > label:last-of-type {
  margin-left: {{S_o.PAD_8}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > li > label[data-layer_b="0"] {
  display: none;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation:hover > li {
  opacity: 1;
  transform: scale( 1 );
  transition: .2s;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation:hover > li > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings {
  --stack_dim: 512px;
  display: block;
  transform: translateX( 0 );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_2}};
  width: calc( var(--stack_dim) + {{S_o.PAD_4}} );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav {
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: {{S_o.PAD_4}};
  width: 100%;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav > label > span[data-icon=substat_op] {
  border: 2px solid {{S_o.nav_substat_op}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape {
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > label {
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > label {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > input:checked + label {
  outline: 3px solid {{S_o.ins_shadow_ne}};
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > input {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers {
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > label {
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul {
  display: flex;
  flex-wrap: wrap;
  border: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li {
  display: flex;
  justify-content: space-between;
  margin: {{S_o.PAD_1}};
  padding: {{S_o.PAD_1}};
  list-style: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > div {
  flex-grow: 1;
  padding: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > div > label, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > label {
  width: 100%;
  text-align: center;
  border: 1px solid {{S_o.ins_shadow_ne}};
  border-radius: 4px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > input {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > input:checked + label {
  outline: 3px solid {{S_o.ins_shadow_ne}};
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li:before {
  content: '';
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li[data-layer_b="0"] {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_items > li {
  width: 100%;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_items > li > input:checked + label {
  border: 2px solid {{S_o.shadow_ne}};
  border-radius: 4px;
  background: {{S_o.table}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_items > li:not(:first-child) > label {
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_items > li:not(:first-child) > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_tools > li {
  width: 48%;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_tools > li > label {
  font-size: 85%;
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers_tools > li > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > label {
  font-size: 85%;
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input + div {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div {
  display: flex;
  flex-direction: column;
  padding: 0 {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > label {
  border: 1px solid {{S_o.ins_shadow_ne}};
  cursor: pointer;
  background: {{S_o.table}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > input, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > iframe {
  display: none;
}
div[id$="_range"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: {{S_o.PAD_2}};
}
div[id$="_range"] > label {
  width: 30%;
  text-transform: uppercase;
}
div[id$="_range"] > input[type=range] {
  width: 256px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .3 );
}
div[id$="_range"] > input[type=range]:focus {
  outline: none;
}
div[id$="_range"] > input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 16px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings:hover {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
.svg_icon {
  --svg_icon_dim: 24px;
  fill: {{S_o.highlight}};
  stroke: none;
  width: var(--svg_icon_dim);
  height: var(--svg_icon_dim);
}
