section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > canvas {
  display: block;
  position: absolute;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > canvas[id$=_layer_0] {
  background: red;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > canvas[id$=_layer_1] {
  background: blue;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > canvas[id$=_layer_2] {
  background: blue;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings {
  display: none;
  z-index: 1;
  position: absolute;
  top: {{S_o.PAD_6}};
  left: 0;
  width: calc( var(--stack_dim) + {{S_o.PAD_4}} );
  transform: translateX( -(var(--stack_dim) + {{S_o.PAD_4}} ) );
  transition: .5s ease;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation {
  display: flex;
  justify-content: space-between;
  gap: 1%;
  position: fixed;
  top: 90vh;
  margin: auto;
  padding: {{S_o.PAD_2}};
  width: 180px;
  border: 1px solid {{S_o.ins_shadow_ne}};
  border-radius: 4px;
  cursor: pointer;
  opacity: .1;
  transform: scale( .8 );
  transition: .2s;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > input {
  display: none;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation > label {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation:hover {
  opacity: 1;
  transform: scale( 1 );
  transition: .2s;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layer_animation:hover > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings {
  --stack_dim: 512px;
  display: block;
  transform: translateX( 0 );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_2}};
  width: calc( var(--stack_dim) + {{S_o.PAD_4}} );
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav {
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: {{S_o.PAD_4}};
  width: 100%;
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav > label > span[data-icon=substat_op] {
  border: 2px solid {{S_o.nav_substat_op}};
}
section#{{C_o.STAT_a[3]}} > div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[3]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings > aside > nav > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape {
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > label {
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > label {
  display: grid;
  place-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > input:checked + label {
  outline: 3px solid {{S_o.ins_shadow_ne}};
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_shape > div > input {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers {
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > label {
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul {
  border: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li {
  display: flex;
  justify-content: space-between;
  margin: {{S_o.PAD_1}};
  padding: {{S_o.PAD_1}};
  list-style: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > div {
  flex-grow: 1;
  padding: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > div > label, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > label {
  text-align: center;
  border: 1px solid {{S_o.ins_shadow_ne}};
  border-radius: 4px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > label:nth-of-type(1) {
  flex-grow: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > input {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > input:checked + label {
  outline: 3px solid {{S_o.ins_shadow_ne}};
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li > label:nth-of-type(2) {
  width: 15%;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li:before {
  content: '';
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li:not(:first-child):not(:last-child) > label {
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_layers > ul > li:not(:first-child):not(:last-child) > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input + div {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div {
  display: flex;
  flex-direction: column;
  padding: 0 {{S_o.PAD_2}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > label {
  width: 50%;
  border: 1px solid {{S_o.ins_shadow_ne}};
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > input, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_add > input:checked + div > iframe {
  display: none;
}
div[id$="_range"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: {{S_o.PAD_2}};
}
div[id$="_range"] > label {
  width: 30%;
  text-transform: uppercase;
}
div[id$="_range"] > input[type=range] {
  width: 256px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .3 );
}
div[id$="_range"] > input[type=range]:focus {
  outline: none;
}
div[id$="_range"] > input[type=range]::-webkit-slider-runnable-track {
  width: 200px;
  height: 16px;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs {
  display: grid;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input {
  display: none;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > div {
  grid-area: 1/-1;
  display: none;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translateX(-50%, -50%);
  top: 50%;
  bottom: 50%;
  width: 50vw;
  transform: translateY(-50%, -50%);
  height: 20vh;
  background: {{S_o.bg_lower}};
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input:checked + div {
  display: block;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  overflow: auto;
  resize: both;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input:checked + div > header {
  display: flex;
  padding: {{S_o.PAD_2}};
  border: 1px solid {{S_o.ins_shadow_ne}};
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input:checked + div > header > label:not(:nth-of-type( 2 )) {
  padding: {{S_o.PAD_1}};
  width: 25%;
  text-align: center;
  background: transparent;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input:checked + div > header > label:nth-of-type( 2 ) {
  flex-grow: 1;
  padding: {{S_o.PAD_1}};
  text-align: center;
}
aside#aside_{{C_o.STAT_a[3]}}_imgs > input:checked + div > header > label:not(:nth-of-type( 2 )):hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[3]}}_settings:hover {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
.svg_icon {
  --svg_icon_dim: 24px;
  fill: {{S_o.highlight}};
  stroke: none;
  width: var(--svg_icon_dim);
  height: var(--svg_icon_dim);
}
