body {
  overflow: auto;
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} {
  --reference_padding: {{S_o.PAD_16}};
  align-items: flex-start;
  padding: var(--reference_padding);
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[3]}} > img {
  display: block;
  position: relative;
  object-position: 0% 0%;
  object-fit: none;
}
details[data--="{{C_o.STAT_a[3]}}_details"] {
  --offsetX: calc( var(--width_n) * .5 );
  --offsetY: calc( ( var(--height_n) * .5 ) + {{S_o.PAD_8}} + {{S_o.PAD_8}} );
  z-index: 10;
  position: absolute;
  width: var(--width_n);
  top: calc( var(--top_n) - var(--offsetY) + {{S_o.PAD_8}} + var(--reference_padding) );
  left: calc( var(--left_n) - var(--offsetX) + var(--reference_padding) );
  transform: translate( var(--offsetX), var(--offsetY) );
  transition: .25s ease;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary {
  margin-bottom: {{S_o.PAD_2}};
  padding: {{S_o.PAD_1}};
  width: 100%;
  height: {{S_o.PAD_6}};
  color: transparent;
  list-style-image: url( marker_circle.svg );
  cursor: pointer;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary > span {
  opacity: 0;
  position: absolute;
  top: 0;
  height: {{S_o.PAD_6}};
  transition: .4s;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary > span > label {
  position: relative;
  padding: 0 {{S_o.PAD_4}};
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary > span > label > span {
  display: inline-block;
  width: {{S_o.NAV_LABEL_s}};
  height: {{S_o.NAV_LABEL_s}};
  line-height: {{S_o.NAV_LABEL_s}};
  border-radius: 50%;
  text-align: center;
  transform: scale( .5 );
  background: {{S_o.match_dot}};
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary::-webkit-details-marker {
  background: url( marker_circle.svg );
}
details[data--="{{C_o.STAT_a[3]}}_details"] > summary:hover > span {
  opacity: 1;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article {
  display: grid;
  height: var(--height_n);
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input[id^="{{C_o.INPUT_ID_s}}_clip_"] {
  display: none;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input[id^="{{C_o.INPUT_ID_s}}_clip_"] + canvas {
  display: none;
  grid-area: 1/-1;
  width: var(--width_n);
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input[id^="{{C_o.INPUT_ID_s}}_clip_"] + canvas + label {
  display: none;
  z-index: 1;
  grid-area: 1/-1;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input, details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > aside {
  display: none;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input:checked + canvas {
  display: block;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input:checked + canvas + label {
  display: block;
  transition-property: box-shadow;
  transition-delay: .25s;
  transition-duration: .5s;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input:checked + canvas + label + input + aside {
  position: absolute;
  top: {{S_o.PAD_8}};
  padding: {{S_o.PAD_2}};
  min-width: var(--width_n);
  height: var(--height_n);
  overflow-Y: auto;
  font-size: 90%;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input:checked + canvas + label + input:checked + aside {
  display: block;
  z-index: 2;
  transform: translateY( var(--height_n) );
  transition-property: transform;
  transition-delay: .1s;
  transition-duration: .5s;
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input[id^="{{C_o.INPUT_ID_s}}_clip_"] + div {
  display: none;
  width: var(--width_n);
}
details[data--="{{C_o.STAT_a[3]}}_details"] > div > article > input:checked + div {
  display: block;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] {
  z-index: 20;
  transform: translate( 0, 0 );
  transition: .25s ease;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] > summary {
  opacity: 0;
  transition: .4s;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] > summary:hover {
  opacity: 1;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] > summary:hover > span {
  opacity: 1;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] > div > article > div {
  height: var(--height_n);
  border: 2px solid {{S_o.ins_shadow_ne}};
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] > div > article > div:hover, details[data--="{{C_o.STAT_a[3]}}_details"][open] > div > article > canvas:hover, details[data--="{{C_o.STAT_a[3]}}_details"][open] > div > article > label:hover {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  transition-property: box-shadow;
  transition-delay: .25s;
  transition-duration: .5s;
}
details[data--="{{C_o.STAT_a[3]}}_details"][open] ~ img {
  z-index: 15;
}
.svg_icon {
  --svg_icon_dim: 24px;
  fill: {{S_o.highlight}};
  stroke: none;
  width: var(--svg_icon_dim);
  height: var(--svg_icon_dim);
}
