section#{{C_o.STAT_a[2]}} > div > canvas {
  display: block;
  position: absolute;
}
section#{{C_o.STAT_a[2]}} > div > canvas[id$=_layer_0] {
  background: red;
}
section#{{C_o.STAT_a[2]}} > div > canvas[id$=_match_1] {
  background: blue;
}
section#{{C_o.STAT_a[2]}} > div > canvas[id$=_match_2] {
  background: blue;
}
section#{{C_o.STAT_a[2]}} > div > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings {
  display: none;
  z-index: 1;
  position: absolute;
  top: {{S_o.PAD_6}};
  left: 0;
  width: 320px;
  height: fit-content;
  transform: translateX( -320px );
  transition: transform .5s ease;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings {
  display: block;
  top: {{S_o.PAD_6}};
  transform: translateX( 0 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 0;
  padding: 0 {{S_o.PAD_4}} {{S_o.PAD_4}} {{S_o.PAD_4}} ;
  width: 320px;
  height: fit-content;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav#nav_{{C_o.STAT_a[2]}}_settings {
  grid-area: 1 / 1 / 2 / 3;
  flex-direction: column;
  justify-content: space-between;
  margin: {{S_o.PAD_2}} 0 {{S_o.PAD_8}} 0;
  width: 100%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav#nav_{{C_o.STAT_a[2]}}_settings > label > span[data-icon=substat_op] {
  border: 2px solid {{S_o.nav_substat_op}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav#nav_{{C_o.STAT_a[2]}}_settings > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  padding: {{S_o.PAD_4}};
  height: fit-content;
  align-self: end;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range] {
  position: absolute;
  margin: -{{S_o.PAD_4}} 0;
  width: 100px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .3 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]:nth-of-type( 2n ) {
  width: 200px;
  transform: translate( -{{S_o.PAD_2}}, {{S_o.PAD_4}} ) rotate( 90deg ) scaleY( .3 );
  transform-origin: top left;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]:focus {
  outline: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 16px;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > canvas {
  width: 100px;
  cursor: crosshair;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label {
  position: relative;
  top: -100px;
  left: {{S_o.PAD_3}};
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100px;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label > output {
  width: 6ch;
  height: {{S_o.PAD_4}};
  color: currentColor;
  background: transparent;
  font-size: 65%;
  font-weight: 500;
  border: none;
  opacity: 0;
  line-height: 1.2;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label > output:first-of-type {
  width: 3ch;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label > span {
  width: {{S_o.PAD_3}};
  height: {{S_o.PAD_3}};
  background: {{S_o.nav_substat_op}};
  border-radius: 50%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label > span:hover ~ output {
  opacity: 1;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue {
  grid-area: 2 / 1 / 4 / 2;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue > input[type=range]:nth-of-type( 2n ) {
  width: calc( 360px * 2 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue > canvas#canvas_{{C_o.STAT_a[2]}}_hue {
  height: calc( 360px * 2 );
  background: hsla(0 50% 50%/1);
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_sat {
  grid-area: 2 / 2 / 3 / 3;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_sat > canvas#canvas_{{C_o.STAT_a[2]}}_sat {
  height: calc( 100px * 2 );
  background: hsla(100 50% 50%/1);
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_lum {
  grid-area: 3 / 2 / 4 / 3;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_lum > canvas#canvas_{{C_o.STAT_a[2]}}_lum {
  height: calc( 100px * 2 );
  background: hsla(200 50% 50%/1);
}
div > div:hover {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
