:root {
  --{{C_o.STAT_a[2]}}_canvas_width: 100;
  --{{C_o.STAT_a[2]}}_distance_x: 0;
  --{{C_o.STAT_a[2]}}_perspective: 500;
  --{{C_o.STAT_a[2]}}_distance: -100;
  --{{C_o.STAT_a[2]}}_rotate: 0;
  --{{C_o.STAT_a[2]}}_scale: .5;
  --{{C_o.STAT_a[2]}}_setop_display: none;
}
section#{{C_o.STAT_a[2]}} > div > canvas {
  --{{C_o.STAT_a[2]}}_perspectiveX: calc(var(--{{C_o.STAT_a[2]}}_perspective) * 1px);
  --{{C_o.STAT_a[2]}}_translateX: calc( var(--{{C_o.STAT_a[2]}}_distance) * var(--{{C_o.STAT_a[2]}}_distance_x) * 1px);
  --{{C_o.STAT_a[2]}}_rotateY: calc( var(--{{C_o.STAT_a[2]}}_rotate) * 1deg );
  display: block;
  position: absolute;
  perspective-origin: center center;
  transform: perspective( var(--{{C_o.STAT_a[2]}}_perspectiveX) ) translateX( var(--{{C_o.STAT_a[2]}}_translateX) ) rotateY( var(--{{C_o.STAT_a[2]}}_rotateY) ) scale( var(--{{C_o.STAT_a[2]}}_scale) );
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="0"] {
  --{{C_o.STAT_a[2]}}_distance_x: -3;
  background: hsla(0 100% 50%/1);
  opacity: 1;
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="1"] {
  --{{C_o.STAT_a[2]}}_distance_x: -2;
  background: hsla(60 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="2"] {
  --{{C_o.STAT_a[2]}}_distance_x: -1;
  background: hsla(120 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="3"] {
  --{{C_o.STAT_a[2]}}_distance_x: 0;
  background: hsla(180 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="4"] {
  --{{C_o.STAT_a[2]}}_distance_x: 1;
  background: hsla(240 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="5"] {
  --{{C_o.STAT_a[2]}}_distance_x: 2;
  background: hsla(300 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="6"] {
  --{{C_o.STAT_a[2]}}_distance_x: 3;
  background: hsla(0 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_n="7"] {
  --{{C_o.STAT_a[2]}}_distance_x: 4;
  background: hsla(60 100% 50%/1);
}
section#{{C_o.STAT_a[2]}} > div > canvas[data-layer_b="0"] {
  display: none;
}
section#{{C_o.STAT_a[2]}} > div > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings {
  display: none;
  z-index: 1;
  position: absolute;
  top: {{S_o.PAD_8}};
  left: 0;
  width: {{S_o.NAV_SETTINGS_s}};
  height: fit-content;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  transform: translateX( -{{S_o.NAV_SETTINGS_s}} );
  transition: transform .5s ease;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings {
  display: block;
  top: {{S_o.PAD_8}};
  height: calc( 100vh - {{S_o.PAD_8}} );
  overflow-X: hidden;
  overflow-Y: auto;
  transform: translateX( 0 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside {
  display: flex;
  flex-direction: column;
  gap: {{S_o.PAD_8}};
  padding: 0 {{S_o.PAD_8}} {{S_o.PAD_2}} {{S_o.PAD_8}};
  width: 100%;
  height: fit-content;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav {
  flex-direction: column;
  gap: {{S_o.PAD_6}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav > label > span[data-role=open] {
  background: {{S_o.nav_spot_set_3}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > nav > label:hover > span {
  background: transparent;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] {
  width: 100%;
  border: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li {
  padding: 0;
  list-style: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li > input {
  display: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li > label {
  display: grid;
  justify-items: center;
  margin: 2px 0;
  border-radius: 2px;
  border: 1px solid {{S_o.shadow_ne}};
  font-size: 85%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li > label:not(:first-of-type):hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li > input:checked + label {
  background: {{S_o.table}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li:not(:first-child) > label {
  cursor: pointer;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li:not(:first-child) > label:hover {
  filter: brightness( {{S_o.brigtness_lo}} );
  background: {{S_o.ins_shadow_ne}};
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li:before {
  content: '';
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul[id^="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_"] > li[data-layer_b="0"] {
  opacity: .25;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_setop {
  display: var(--{{C_o.STAT_a[2]}}_setop_display);
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > ul#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_setop > label {
  text-transform: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_setup {
  display: flex;
  flex-direction: column;
  gap: {{S_o.PAD_1}};
  padding: 0;
  width: 100%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_setup > label {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  border: 2px solid {{S_o.shadow_hi}};
  font-size: 85%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_setup > label:hover {
  filter: invert( .5 ) brightness( {{S_o.brigtness_hi}} );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: {{S_o.PAD_4}};
  height: fit-content;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range] {
  position: absolute;
  margin: -{{S_o.PAD_4}} 0;
  width: 100px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .3 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]:nth-of-type( 2n ) {
  width: 200px;
  transform: translate( -{{S_o.PAD_2}}, {{S_o.PAD_4}} ) rotate( 90deg ) scaleY( .3 );
  transform-origin: top left;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]:focus {
  outline: none;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 16px;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > canvas {
  width: 100px;
  cursor: crosshair;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label[id$="_trace"] {
  position: relative;
  top: -100px;
  left: {{S_o.PAD_3}};
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100px;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label[id$="_trace"] > output {
  width: 6ch;
  height: {{S_o.PAD_4}};
  color: currentColor;
  background: transparent;
  font-size: 65%;
  font-weight: 500;
  border: none;
  opacity: 0;
  line-height: 1.2;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label[id$="_trace"] > output:first-of-type {
  width: 3ch;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label[id$="_trace"] > span {
  width: {{S_o.PAD_3}};
  height: {{S_o.PAD_3}};
  background: {{S_o.nav_substat_op}};
  border-radius: 50%;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div > label[id$="_trace"] > span:hover ~ output {
  opacity: 1;
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue > input[type=range]:nth-of-type( 2n ) {
  width: calc( 360px * 2 );
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_hue > canvas#canvas_{{C_o.STAT_a[2]}}_hue {
  height: calc( 360px * 2 );
  background: hsla(0 50% 50%/1);
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_sat > canvas#canvas_{{C_o.STAT_a[2]}}_sat {
  height: calc( 100px * 2 );
  background: hsla(100 50% 50%/1);
}
div > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_lum > canvas#canvas_{{C_o.STAT_a[2]}}_lum {
  height: calc( 100px * 2 );
  background: hsla(200 50% 50%/1);
}
div > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position:hover {
  opacity: 1;
  transition: opacity 2s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: calc( 100vh - 8em );
  padding: {{S_o.PAD_2}};
  background: {{S_o.table}};
  border-radius: 4px;
  opacity: .1;
  transition: opacity .3s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position > input[type=range] {
  position: relative;
  top: {{S_o.PAD_5}};
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .3 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position > label {
  position: relative;
  top: -{{S_o.PAD_6}};
  padding: {{S_o.PAD_1}};
  text-align: left;
  text-transform: none;
  font-size: 80%;
  border: none;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position > input[type=range]:focus {
  outline: none;
  filter: hue-rotate( -220deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[2]}}_layer_position > input[type=range]:focus + label {
  background: {{S_o.lighter}};
}
