:root {
  --{{C_o.STAT_a[0]}}_screen_dim: {{C_o.SCREEN_DIM_n}};
  --{{C_o.STAT_a[0]}}_hue_trace: -720;
  --{{C_o.STAT_a[0]}}_hue_back: 0;
  --{{C_o.STAT_a[0]}}_nav_dim: {{C_o.BURST_NAV_DIM}}px;
  --{{C_o.STAT_a[0]}}_trace_color: {{S_o.bg_lower}};
  --{{C_o.STAT_a[0]}}_trace_pointer: crosshair;
  --{{C_o.STAT_a[0]}}_scale: {{C_o.BURST_SCALE_n}};
  --{{C_o.STAT_a[0]}}_ruler: none;
  --{{C_o.STAT_a[0]}}_ruler_dim: 0px;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > canvas {
  --canvas_dim: calc( (var(--{{C_o.STAT_a[0]}}_screen_dim) * {{C_o.SCREEN_RATIO_n}}) - ({{S_o.NAV_HEIGHT_s}} * 2));
  width: var(--canvas_dim);
  height: var(--canvas_dim);
  border: 1px solid {{ S_o.shadow_ne}};
  border-radius: 50%;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] {
  display: none;
  width: var(--{{C_o.STAT_a[0]}}_nav_dim);
  height: var(--{{C_o.STAT_a[0]}}_nav_dim);
  padding: {{S_o.PAD_4}};
  border-radius: 50%;
  transition: opacity ease 2s;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  font-size: 80%;
  text-transform: uppercase;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label > span:not( [data-icon] ) {
  width: 10ch;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  background: var(--{{C_o.STAT_a[0]}}_trace_color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover {
  opacity: 1;
  transition: opacity ease .2s;
  background: {{S_o.shadow_ne}};
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label > span {
  opacity: 1;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:hover > span {
  background: transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:not([for]):hover > span {
  background: {{S_o.lighter_ne}};
}
canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: block;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: flex;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: none;
  z-index: 10;
  position: fixed;
  top: {{S_o.PAD_8}};
  left: 0;
  width: {{S_o.NAV_SETTINGS_s}};
  height: fit-content;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  transform: translateX( -{{S_o.NAV_SETTINGS_s}} );
  transition: .5s ease;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: block;
  height: fit-content;
  overflow-X: hidden;
  overflow-Y: auto;
  transform: translateX( 0 );
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav {
  flex-direction: column;
  gap: {{S_o.PAD_6}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label > span[data-role] {
  background: {{S_o.nav_spot_set_3}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label:hover > span {
  background: transparent;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_lo}};
  transition: box-shadow .5s ease;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:before {
  content: '{{C_o.NAV_LEGEND_o.stat_shadow_unfold.legend_s}}';
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 {{S_o.PAD_8}};
  padding: {{S_o.PAD_6}};
  height: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
  width: 720px;
  height: fit-content;
  transform: translate( 150px, {{S_o.PAD_2}} ) rotate( 90deg ) scaleY( 1 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n] {
  display: grid;
  justify-content: space-between;
  width: fit-content;
  opacity: 1;
  filter: brightness( {{S_o.brightness_hi}} );
  transform: rotate( -90deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n] > input[name$="_range"] {
  grid-area: 1/-1;
  width: cal( {{S_o.NAV_LABEL_s}} * .5 );
  height: cal( {{S_o.NAV_LABEL_s}} * .5 );
  filter: brightness( {{S_o.brightness_lo3}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:before {
  content: attr( data-range_n );
  position: absolute;
  left: -22px;
  width: 4ch;
  text-align: center;
  padding: {{S_o.PAD_1}};
  color: currentColor;
  background: {{S_o.bg_lower}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  transform: scale( 0 );
  transform-origin: center;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:hover > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:hover > input {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:has(input:checked) > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:has(input:checked) > input:checked {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:has(input:checked):before {
  filter: brightness( {{S_o.brightness_hi2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > label[data-range_n]:hover:before {
  filter: brightness( {{S_o.brightness_lo2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range] {
  display: none;
  position: absolute;
  margin: -{{S_o.PAD_4}} 0;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .5 );
  width: 200px;
  transform: translate( -{{S_o.PAD_2}}, - ) rotate( 90deg ) scaleY( .3 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]:focus {
  outline: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 16px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) > canvas {
  width: 48px;
  height: 720px;
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) > canvas:nth-of-type(1) {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_hue_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_hue_trace) * 1px - 14px );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_sat_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_sat_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_lum_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_lum_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -48px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > output {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 4ch;
  color: currentColor;
  background: {{S_o.bg_lower}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  opacity: 1;
  filter: brightness( {{S_o.brightness_hi2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > span {
  width: 2ch;
  color: {{S_o.bg_lower}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover {
  cursor: url( /assets/styles/css/paint_brush.svg ) 32 32, auto;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > output {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > span {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: {{S_o.PAD_1}} 0;
}
div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > input[type=range] {
  width: 200px;
  background: transparent;
  cursor: pointer;
}
div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > label {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 100%;
  text-align: center;
  font-size: 80%;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range] {
  transform: rotate( 180deg ) scaleY( .5 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range]:hover:after {
  transform: rotate( 180deg ) scaleY( 2 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_lo > input[type=range] {
  transform: scaleY( .5 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view:hover {
  background: hsla( {{S_o.hue_p}} {{S_o.sat_lo_2}} {{S_o.lum_hi_4}} /1);
  opacity: 1;
  transition: opacity .5s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc( 100vh - 8em );
  left: calc( 50vw - 100px - {{S_o.PAD_1}} );
  background: {{S_o.table}};
  border-radius: 4px;
  opacity: .1;
  transition: opacity .5s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range] {
  position: relative;
  top: {{S_o.PAD_5}};
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( .5 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label {
  position: relative;
  top: -{{S_o.PAD_6}};
  padding: {{S_o.PAD_1}};
  text-align: left;
  text-transform: none;
  font-size: 80%;
  border: none;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend] {
  top: 0;
  margin: 0 0 {{S_o.PAD_4}} {{S_o.PAD_1}};
  font-size: 95%;
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend] > span {
  background: {{S_o.nav_spot_set_3}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend]:hover > span[data-role] {
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range]:focus {
  outline: none;
  filter: hue-rotate( -220deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range]:focus + label {
  background: {{S_o.lighter}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:not( :checked )  ) > div#goto_{{C_o.STAT_a[0]}}_ruler, body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:not( :checked )  ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: flex;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > a#goto_{{C_o.FULL_SCREEN}} {
  display: block;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#goto_{{C_o.STAT_a[0]}}_ruler {
  display: var(--{{C_o.STAT_a[0]}}_ruler);
  position: fixed;
  z-index: 20;
  top: calc( 50vh - ( var(--{{C_o.STAT_a[0]}}_ruler_dim) * .5 ) );
  left: calc( 50vw - ( var(--{{C_o.STAT_a[0]}}_ruler_dim) * .5 ) );
  width: var(--{{C_o.STAT_a[0]}}_ruler_dim);
  height: var(--{{C_o.STAT_a[0]}}_ruler_dim);
  border-radius: 50%;
  background: {{S_o.shadow_ne}};
  filter: brightness( .01 );
  pointer-events: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_ruler ~ div#goto_{{C_o.STAT_a[0]}}_ruler {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_ruler:checked ~ div#goto_{{C_o.STAT_a[0]}}_ruler {
  display: block;
}
