input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked ~ section#{{C_o.STAT_a[0]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}:checked ~ section#{{C_o.STAT_a[1]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}:checked ~ section#{{C_o.STAT_a[2]}} {
  display: block;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] {
  height: calc( 100vh - {{S_o.NAV_HEIGHT_s}});
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input, section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > canvas {
  display: none;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav {
  z-index: 1;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  gap: {{S_o.PAD_2}};
  padding: {{S_o.PAD_2}};
  width: 28ch;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav > label > span[data-icon=substat] {
  border: 2px solid {{S_o.nav_substat}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}] {
  display: none;
  height: 28ch;
  padding: {{S_o.PAD_8}};
  border-radius: 50%;
  background: hsla( 220 17% 17%/.7);
  transition: opacity ease 2s;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}] > label {
  position: relative;
  width: 100%;
  line-height: 1.5;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}] > label > span:not( [data-icon] ) {
  margin-left: 2ch;
  font-size: 140%;
  font-weight: 700;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}] > label > span[data-icon=substat] {
  border: 2px solid {{S_o.nav_substat}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}] > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav[id^=nav_{{C_o.STAT_a[0]}}]:hover {
  opacity: 1;
  transition: opacity ease .2s;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav#{{C_o.STAT_a[0]}}_scale {
  top: {{S_o.PAD_6}};
  left: 0;
  height: fit-content;
  background: transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav#{{C_o.STAT_a[0]}}_scale > label > span[data-icon=substat_op] {
  border: 2px solid {{S_o.nav_substat_op}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > nav#{{C_o.STAT_a[0]}}_scale > label:hover > span[data-icon] {
  border: 2px solid transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > canvas {
  background: transparent;
  cursor: crosshair;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ canvas#canvas_{{C_o.STAT_a[0]}}_hue {
  display: block;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ canvas#canvas_{{C_o.STAT_a[0]}}_sat {
  display: block;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ canvas#canvas_{{C_o.STAT_a[0]}}_lum {
  display: block;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ nav#nav_{{C_o.STAT_a[0]}}_hue {
  display: flex;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ nav#nav_{{C_o.STAT_a[0]}}_sat {
  display: flex;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ nav#nav_{{C_o.STAT_a[0]}}_lum {
  display: flex;
}
