input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked ~ section#{{C_o.STAT_a[0]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[1]}}:checked ~ section#{{C_o.STAT_a[1]}}, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[2]}}:checked ~ section#{{C_o.STAT_a[2]}} {
  display: block;
}
section > div[id^={{C_o.DIV_ID_s}}] {
  margin-top: {{S_o.NAV_HEIGHT_s}};
  height: calc( 100vh - {{S_o.NAV_HEIGHT_s}});
}
section > div[id^={{C_o.DIV_ID_s}}] > canvas {
  background: hsla( 0 0% 25%/1);
}
section > div[id^={{C_o.DIV_ID_s}}] > canvas[id^=canvas_{{C_o.STAT_a[0]}}] {
  width: {{C_o.STAT_0_CANVAS_n}};
  height: {{C_o.STAT_0_CANVAS_n}};
}
