:root {
  --{{C_o.STAT_a[0]}}_screen_dim: {{C_o.SCREEN_DIM_n}};
  --{{C_o.STAT_a[0]}}_hue_trace: -720;
  --{{C_o.STAT_a[0]}}_hue_back: 0;
  --{{C_o.STAT_a[0]}}_nav_dim: {{C_o.BURST_NAV_DIM_n}}px;
  --{{C_o.STAT_a[0]}}_trace_color: {{S_o.text_lo}};
  --{{C_o.STAT_a[0]}}_trace_pointer_s: url( /assets/styles/css/spot_cursor.svg ) 8 8, auto;
  --{{C_o.STAT_a[0]}}_trace_pointer: var(--{{C_o.STAT_a[0]}}_trace_pointer_s);
  --{{C_o.STAT_a[0]}}_linear_scale: {{C_o.BURST_SCALE_n}};
  --{{C_o.STAT_a[0]}}_scale: {{C_o.BURST_SCALE_n}};
  --{{C_o.STAT_a[0]}}_equal_scale: {{C_o.RADIAL_EQUAL_SCALE_n}};
  --{{C_o.STAT_a[0]}}_equal: none;
  --{{C_o.STAT_a[0]}}_canvas_dim: calc( (var(--{{C_o.STAT_a[0]}}_screen_dim) * {{C_o.SCREEN_RATIO_n}}) - ({{S_o.NAV_HEIGHT_s}} * 2));
  --{{C_o.STAT_a[0]}}_img_transform: 80vmin;
  --{{C_o.STAT_a[0]}}_img_bg_hue: {{S_o.hue_p}};
  --{{C_o.STAT_a[0]}}_img_bg_sat: 70;
  --{{C_o.STAT_a[0]}}_img_bg_lum: 50;
  --{{C_o.STAT_a[0]}}_img_bgtransparent: {{S_o.bgtransparent_s}};
  --{{C_o.STAT_a[0]}}_img_bgwhite: {{S_o.bg_100}};
  --{{C_o.STAT_a[0]}}_img_bgblack: {{S_o.bg_0}};
  --{{C_o.STAT_a[0]}}_img_background: var(--{{C_o.STAT_a[0]}}_img_bgtransparent);
  --{{C_o.STAT_a[0]}}_img_label_size: 100%;
  --{{C_o.STAT_a[0]}}_satlum_s: none;
  --{{C_o.STAT_a[0]}}_cursor_fullsize: move;
  --{{C_o.STAT_a[0]}}_cursor_fullsize_trace: url( /assets/styles/css/magnifier_cursor.svg ) 8 8, auto;
  --{{C_o.STAT_a[0]}}_cursor_overlayX: 0px;
  --{{C_o.STAT_a[0]}}_cursor_overlayY: 0px;
  --{{C_o.STAT_a[0]}}_cursor_initialX: 0;
  --{{C_o.STAT_a[0]}}_cursor_initialY: 0;
  --{{C_o.STAT_a[0]}}_playback_bg: transparent;
  --{{C_o.STAT_a[0]}}_playback_pause: auto;
  --{{C_o.STAT_a[0]}}_img_play: '{{C_o.IMG_PLAY_s}}';
  --{{C_o.STAT_a[0]}}_zoom_out_s: none;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > canvas[id^={{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_] {
  width: var(--{{C_o.STAT_a[0]}}_canvas_dim);
  height: var(--{{C_o.STAT_a[0]}}_canvas_dim);
  border: 1px solid {{ S_o.light_05}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_linear {
  position: relative;
  top: calc( {{S_o.NAV_HEIGHT_s}} + {{S_o.PAD_12}} );
  left: 0;
  background: var(--{{C_o.STAT_a[0]}}_img_background);
  --scale_x: var(--{{C_o.STAT_a[0]}}_window_width) / {{C_o.LINEAR_WIDTH_n}}  * .99;
  transform: scaleX( calc( var(--scale_x) ) );
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > canvas:not(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_linear) {
  position: absolute;
  transform: translateY( 50vh );
  border-radius: 50%;
  background: var(--{{C_o.STAT_a[0]}}_img_background);
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] {
  display: none;
  width: var(--{{C_o.STAT_a[0]}}_nav_dim);
  height: var(--{{C_o.STAT_a[0]}}_nav_dim);
  padding: {{S_o.PAD_8}};
  border-radius: 50%;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  text-transform: uppercase;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label > span:not( [data-icon] ) {
  display: flex;
  justify-content: space-evenly;
  width: 10ch;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  background: var(--{{C_o.STAT_a[0]}}_trace_color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label > span[id$=_ratio_n]:after {
  content: '{{C_o.PERCENT_s}}';
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label:nth-of-type(3), section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label:nth-of-type(4) {
  display: var(--{{C_o.STAT_a[0]}}_satlum_s);
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover {
  opacity: 1;
  transition: opacity ease .25s;
  background: {{S_o.light_05}};
  box-shadow: 0 0 0 1000vmax {{S_o.light_07}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label > span {
  opacity: 1;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:hover > span {
  background: transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:not([for]):hover > span {
  background: {{S_o.light_07}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav:not(#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear) {
  transform: translateY( 50vh );
}
canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_linear, canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_linear, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: block;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: flex;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear {
  display: flex;
  top: 8.5rem;
  left: .5%;
  width: calc( {{S_o.SETTINGS_WIDTH}} - .5% );
  height: fit-content;
  padding: {{S_o.PAD_1}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear] {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  position: absolute;
  padding: .25rem;
  width: fit-content;
  left: 0;
  border: 1px solid  var(--{{C_o.STAT_a[0]}}_trace_color);
  border-radius: 4px;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear] > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 70%;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear] > label > span {
  display: flex;
  justify-content: space-evenly;
  margin: .5rem;
  width: 9ch;
  padding: 0 .25rem;
  height: 2em;
  line-height: 2em;
  background: var(--burst_trace_color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  font-size: 95%;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear] > label > span[id$=_ratio_n]:after {
  content: '{{C_o.PERCENT_s}}';
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_all {
  top: -130px;
  filter: brightness( .8 );
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_all > label {
  font-size: 75%;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_all > label > span {
  font-size: 100%;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_current {
  top: 0;
  filter: brightness( 1.2 );
}
nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear:hover {
  opacity: 1;
  transition: opacity ease .25s;
  background: {{S_o.light_05}};
  box-shadow: 0 0 0 1000vmax {{S_o.light_07}};
}
nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear:hover > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_current > label > span {
  opacity: 1;
}
nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear:hover > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_current > label:hover > span {
  background: transparent;
}
nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_linear:hover > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_linear_current > label:not([for]):hover > span {
  background: {{S_o.light_07}};
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}:has(#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock > div > div#{{C_o.DIV_ID_s}}_dock_nav_top > label[for$=hue] {
  visibility: hidden;
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}:has(#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock > div > div#{{C_o.DIV_ID_s}}_dock_nav_top > label[for$=linear] {
  visibility: hidden;
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}:has(#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock > div > label[for={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings] {
  display: none;
}
div#{{C_o.DIV_ID_s}}_stat_{{C_o.STAT_a[0]}}:has(#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_linear:checked) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_dock > div > label[for={{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_equal] {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: {{S_o.SETTINGS_WIDTH}};
  height: fit-content;
  border-bottom-right-radius: 8px;
  border: 1px solid {{S_o.bg_hi}};
  transform: translateX( -{{S_o.SETTINGS_WIDTH}} );
  transition: transform .25s ease;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: block;
  height: fit-content;
  overflow-X: hidden;
  overflow-Y: auto;
  transform: translateX( 0 );
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside {
  display: flex;
  flex-direction: column;
  padding: {{S_o.PAD_2}} 0;
  width: 100%;
  height: fit-content;
  background: {{S_o.light_100}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav {
  flex-direction: column;
  gap: {{S_o.PAD_6}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label > span[data-role] {
  background: {{S_o.dot_set_4}};
  border-radius: 6px;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label:hover > span {
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 {{S_o.PAD_8}};
  padding: {{S_o.PAD_6}};
  height: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot {
  display: grid;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > hr[role=vrange] {
  grid-area: 1/-1;
  position: relative;
  top: 3rem;
  left: 7.2rem;
  width: 96%;
  height: 0;
  border-color: {{S_o.text_lo}};
  pointer-events: none;
  transform-origin: top left;
  transform: rotate( 90deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot {
  grid-area: 1/-1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: {{S_o.PAD_2}} 0;
  gap: 4px;
  width: 720px;
  height: fit-content;
  transform: translate( 8rem, 2rem ) rotate( 90deg ) scaleY( 1 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n] {
  display: grid;
  justify-content: space-between;
  width: fit-content;
  list-style: none;
  opacity: 1;
  F_hue_imgfilter: brightness( {{S_o.brightness_hi}} );
  transform: rotate( -90deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n] > input[name$="_slot"] {
  appearance: none;
  grid-area: 1/-1;
  width: 32px;
  height: 32px;
  border: 12px solid {{S_o.light_100}};
  border-radius: 50%;
  background: {{S_o.text_lo}};
  filter: brightness( .8 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:before {
  content: attr( data-slot_n );
  position: absolute;
  left: -4px;
  width: 4ch;
  text-align: center;
  padding: {{S_o.PAD_1}};
  color: currentColor;
  background: {{S_o.text_lo}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  transform: scale( 0 );
  transform-origin: center;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:hover > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:hover > input {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:has(input:checked) > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:has(input:checked) > input:checked {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:has(input:checked):before {
  filter: brightness( {{S_o.brightness_hi2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot > li[data-slot_n]:hover:before {
  filter: brightness( {{S_o.brightness_lo2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range] {
  display: none;
  position: absolute;
  margin: -{{S_o.PAD_4}} 0;
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: translate( -{{S_o.PAD_2}}, - ) rotate( 90deg ) scaleY( .3 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]:focus {
  outline: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 16px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot"]) {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot"]) > canvas {
  width: 48px;
  height: 720px;
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_slot"]) > canvas:nth-of-type(1) {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_hue_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_hue_trace) * 1px - 14px );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_sat_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_sat_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_lum_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_lum_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -50px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > output {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 4ch;
  color: currentColor;
  background: {{S_o.text_lo}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  opacity: 1;
  filter: brightness( {{S_o.brightness_hi2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > span {
  width: 2ch;
  color: {{S_o.text_lo}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover {
  cursor: url( /assets/styles/css/paint_brush.svg ) 32 32, auto;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > output {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > span {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -1.5rem;
  margin: {{S_o.PAD_2}} 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > input[type=range] {
  width: 200px;
  background: transparent;
  cursor: pointer;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > label {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 100%;
  text-align: center;
  font-size: 80%;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range] {
  transform: rotate( 180deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range]:before, div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range]:after {
  transform: rotate( -180deg );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > label#goto_{{C_o.MAIN_DOCK}}, body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > label#goto_{{C_o.SCREEN_CENTER}}, body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > label#goto_{{C_o.SCREEN_FULL}} {
  display: block;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#goto_{{C_o.RADIAL_EQUAL}} {
  display: var(--{{C_o.STAT_a[0]}}_equal);
  z-index: 19;
  position: absolute;
  --equal_ratio: calc( var(--{{C_o.STAT_a[0]}}_screen_dim) * var(--{{C_o.STAT_a[0]}}_scale) );
  top: calc( 50vh - var(--equal_ratio) * .5px  );
  left: calc( 50vw - var(--equal_ratio) * .5px  );
  width: calc( var(--equal_ratio) * 1px );
  height: calc( var(--equal_ratio) * 1px );
  border-radius: 50%;
  background: {{S_o.light_05}};
  filter: brightness( .01 );
  pointer-events: none;
  transform-origin: center;
  transform: scale( var(--{{C_o.STAT_a[0]}}_equal_scale) );
  transition: .25s ease;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#goto_{{C_o.RADIAL_EQUAL}} {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_equal:checked ~ div#goto_{{C_o.RADIAL_EQUAL}} {
  display: block;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  box-shadow: 0 0 0 1000vmax {{S_o.light_07}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked ) > div#goto_{{C_o.RADIAL_EQUAL}} {
  opacity: 0;
  transition: .25s ease;
}
aside[id^=aside_{{C_o.STAT_a[0]}}_hue_] {
  display: none;
  position: absolute;
  z-index: 21;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: {{S_o.bg_hi}};
}
aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  transform-origin: center;
  transform: scale( var(--{{C_o.STAT_a[0]}}_hue_img_scale) ) translateY( var(--{{C_o.STAT_a[0]}}_hue_img_translate) );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  --{{C_o.STAT_a[0]}}_hue_img_translate: calc(var(--{{C_o.STAT_a[0]}}_hue_img_scale) * {{C_o.BURST_TRANSLATE_MID_n}} );
  display: flex;
  box-shadow: 0 0 0 1000vmax {{S_o.light_07}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:not(.fullsize) {
  max-width: 1000vw;
  background: var(--{{C_o.STAT_a[0]}}_img_background);
  cursor: zoom-in;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > .fullsize {
  z-index: 100;
  position: absolute;
  cursor: var(--{{C_o.STAT_a[0]}}_cursor_fullsize);
  box-shadow: 0 0 0 1000vmax {{S_o.light_100}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:not(:checked) ~ aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  --{{C_o.STAT_a[0]}}_hue_img_scale: {{C_o.BURST_TRANSFORM_SCALE_n}};
  --{{C_o.STAT_a[0]}}_hue_img_translate: -100%;
  top: 100vh;
  left: 0;
  transform-origin: top left;
  box-shadow: none;
  filter: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:not(:checked) ~ aside#aside_{{C_o.STAT_a[0]}}_hue_img > canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img {
  max-width: 100vmin;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  --{{C_o.STAT_a[0]}}_hue_img_translate: calc(var(--{{C_o.STAT_a[0]}}_hue_img_scale) * {{C_o.BURST_TRANSLATE_FULL_n}} );
  display: grid;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_back, body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_overlay {
  grid-area: 1/-1;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_back {
  width: {{S_o.FULL_WIDTH_s}};
  height: {{S_o.FULL_HEIGHT_s}};
  background: var(--{{C_o.STAT_a[0]}}_img_background);
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_overlay {
  z-index: 200;
  position: absolute;
  top: calc( ({{C_o.BURST_MAGNIFIER_WIDE_n}} + {{C_o.BURST_MAGNIFIER_PIX_n}}) * -1px);
  left: calc( {{C_o.BURST_MAGNIFIER_PIX_n}} * -1px );
  width: {{C_o.BURST_MAGNIFIER_WIDE_n}}px;
  height: {{C_o.BURST_MAGNIFIER_WIDE_n}}px;
  background: transparent;
  border: 2px solid hsla( 0 0% 72%/.9);
  box-shadow: 0 0 0 1000vmax {{S_o.light_07}};
  pointer-events: none;
  cursor: none;
  transform: translate( var(--{{C_o.STAT_a[0]}}_cursor_overlayX), var(--{{C_o.STAT_a[0]}}_cursor_overlayY) );
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul {
  display: none;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div:not([id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_]) {
  display: none;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:not(.fullsize) ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul {
  display: flex;
}
body:has( canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:not(.fullsize) ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div {
  display: flex;
}
body:has( section#{{C_o.STAT_a[0]}} div[id^={{C_o.DIV_ID_s}}_stat] input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img, body:has( section#{{C_o.STAT_a[0]}} div[id^={{C_o.DIV_ID_s}}_stat] input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  display: none;
}
aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier {
  top: 100vh;
  left: 100vw;
  transform: translate( -102%, -100% );
  background: {{S_o.light_100}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier:checked ):has(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier {
  display: flex;
  border: 1px solid  var(--{{C_o.STAT_a[0]}}_trace_color);
  border-radius: 4px;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier:checked ):has(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier > nav {
  display: flex;
  justify-content: space-between;
  padding: .25rem;
  width: 100%;
  left: 0;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier:checked ):has(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier > nav > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2em;
  line-height: 2em;
  text-transform: uppercase;
  font-size: 70%;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier:checked ):has(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier > nav > label > span {
  display: flex;
  justify-content: space-evenly;
  margin: .5rem;
  padding: 0 .25rem;
  width: 6ch;
  height: 2em;
  line-height: 2em;
  background: var(--burst_trace_color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  font-size: 95%;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_magnifier:checked ):has(canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img.fullsize ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_magnifier > nav > label:not(:nth-of-type(1)) > span:after {
  content: '{{C_o.PERCENT_s}}';
}
dialog#dialog_{{C_o.STAT_a[0]}}_download {
  display: none;
  position: absolute;
  margin: auto;
  padding: {{S_o.PAD_4}};
  width: clamp(40ch, 80ch, 80vw);
  background: {{S_o.bg_hi}};
  border: none;
  border-radius: 4px;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form {
  grid-area: 1/-1;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download {
  display: flex;
  flex-direction: column;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header {
  display: flex;
  gap: {{S_o.PAD_8}};
  border-bottom: 1px solid {{S_o.text}};
  text-transform: uppercase;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header > label {
  width: 2rem;
  height: 2rem;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: 600;
  color: {{S_o.text}};
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header > label:nth-of-type(1) {
  flex-grow: 2;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header > label:nth-of-type(2) {
  color: {{S_o.green_100}};
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header > label:not(:nth-of-type(1)):hover {
  filter: brightness( 4 );
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > header > input {
  display: none;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > label {
  margin-top: 1rem;
  color: {{S_o.bg}};
  font-size: 90%;
  font-style: italic;
  font-weight: 200;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download > form > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_download > p {
  color: {{S_o.text}};
}
dialog#dialog_{{C_o.STAT_a[0]}}_download[open] {
  display: grid;
}
dialog#dialog_{{C_o.STAT_a[0]}}_download[open]::backdrop {
  background: {{S_o.light_09}};
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom {
  display: var(--{{C_o.STAT_a[0]}}_zoom_out_s);
}
