:root {
  --{{C_o.STAT_a[0]}}_screen_dim: {{C_o.SCREEN_DIM_n}};
  --{{C_o.STAT_a[0]}}_hue_trace: -720;
  --{{C_o.STAT_a[0]}}_hue_back: 0;
  --{{C_o.STAT_a[0]}}_nav_dim: {{C_o.BURST_NAV_DIM_n}}px;
  --{{C_o.STAT_a[0]}}_trace_color: {{S_o.bg_lower}};
  --{{C_o.STAT_a[0]}}_trace_pointer: crosshair;
  --{{C_o.STAT_a[0]}}_scale: {{C_o.BURST_SCALE_n}};
  --{{C_o.STAT_a[0]}}_plots_scale: {{C_o.BURST_PLOTS_SCALE_n}};
  --{{C_o.STAT_a[0]}}_plots: none;
  --{{C_o.STAT_a[0]}}_canvas_dim: calc( (var(--{{C_o.STAT_a[0]}}_screen_dim) * {{C_o.SCREEN_RATIO_n}}) - ({{S_o.NAV_HEIGHT_s}} * 2));
  --{{C_o.STAT_a[0]}}_img_transform: 80vmin;
  --{{C_o.STAT_a[0]}}_img_bg_hue: 180;
  --{{C_o.STAT_a[0]}}_img_bg_sat: 50;
  --{{C_o.STAT_a[0]}}_img_bg_lum: 25;
  --{{C_o.STAT_a[0]}}_img_bgwhite: hsl( var(--{{C_o.STAT_a[0]}}_img_bg_hue) 100% 100% /1);
  --{{C_o.STAT_a[0]}}_img_bgblack: hsl( var(--{{C_o.STAT_a[0]}}_img_bg_hue) 0% 0% /1);
  --{{C_o.STAT_a[0]}}_img_backgroud: var(--{{C_o.STAT_a[0]}}_img_bgwhite);
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > canvas {
  width: var(--{{C_o.STAT_a[0]}}_canvas_dim);
  height: var(--{{C_o.STAT_a[0]}}_canvas_dim);
  border: 1px solid {{ S_o.shadow_ne}};
  border-radius: 50%;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] {
  display: none;
  width: var(--{{C_o.STAT_a[0]}}_nav_dim);
  height: var(--{{C_o.STAT_a[0]}}_nav_dim);
  padding: {{S_o.PAD_4}};
  border-radius: 50%;
  transition: opacity ease 2s;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  font-size: 80%;
  text-transform: uppercase;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label > span:not( [data-icon] ) {
  display: flex;
  justify-content: space-evenly;
  width: 10ch;
  height: {{S_o.PAD_8}};
  line-height: {{S_o.PAD_8}};
  background: var(--{{C_o.STAT_a[0]}}_trace_color);
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}] > label > span[id$=_ratio_n]:after {
  content: '{{C_o.PERCENT_s}}';
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover {
  opacity: 1;
  transition: opacity ease .2s;
  background: {{S_o.shadow_ne}};
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label > span {
  opacity: 1;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:hover > span {
  background: transparent;
}
section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > nav[id^={{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}]:hover > label:not([for]):hover > span {
  background: {{S_o.lighter_ne}};
}
canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: block;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_hue, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_sat:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_sat, input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_lum:checked ~ nav#{{C_o.NAV_ID_s}}_{{C_o.STAT_a[0]}}_lum {
  display: flex;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: none;
  z-index: 10;
  position: fixed;
  top: {{S_o.PAD_8}};
  left: 0;
  width: {{S_o.NAV_SETTINGS_s}};
  height: fit-content;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  transform: translateX( -{{S_o.NAV_SETTINGS_s}} );
  transition: transform .5s ease;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  display: block;
  height: fit-content;
  overflow-X: hidden;
  overflow-Y: auto;
  transform: translateX( 0 );
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav {
  flex-direction: column;
  gap: {{S_o.PAD_6}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label > span[data-role] {
  background: {{S_o.nav_spot_set_3}};
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label:hover > span {
  background: transparent;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings {
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_lo}};
  transition: box-shadow .5s ease;
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > nav > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:before {
  content: '{{C_o.NAV_LEGEND_o.stat_shadow_unfold.legend_s}}';
}
input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_settings_shadow:checked ~ div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_settings > aside > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 {{S_o.PAD_8}};
  padding: {{S_o.PAD_6}};
  height: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range {
  display: grid;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > hr[role=vrange] {
  grid-area: 1/-1;
  position: relative;
  top: 3rem;
  left: 7.2rem;
  width: 96%;
  height: 0;
  border-color: {{S_o.bg_lower}};
  pointer-events: none;
  transform-origin: top left;
  transform: rotate( 90deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range {
  grid-area: 1/-1;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: {{S_o.PAD_2}} 0;
  gap: 4px;
  width: 720px;
  height: fit-content;
  transform: translate( 8rem, 2rem ) rotate( 90deg ) scaleY( 1 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n] {
  display: grid;
  justify-content: space-between;
  width: fit-content;
  list-style: none;
  opacity: 1;
  filter: brightness( {{S_o.brightness_hi}} );
  transform: rotate( -90deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n] > input[name$="_range"] {
  appearance: none;
  grid-area: 1/-1;
  width: 32px;
  height: 32px;
  border: 12px solid {{S_o.bgcolor}};
  border-radius: 50%;
  background: {{S_o.bg_lower}};
  filter: brightness( .8 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:before {
  content: attr( data-range_n );
  position: absolute;
  left: -4px;
  width: 4ch;
  text-align: center;
  padding: {{S_o.PAD_1}};
  color: currentColor;
  background: {{S_o.bg_lower}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  transform: scale( 0 );
  transform-origin: center;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:hover > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:hover > input {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:has(input:checked) > span {
  opacity: 1;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:has(input:checked) > input:checked {
  opacity: 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:has(input:checked):before {
  filter: brightness( {{S_o.brightness_hi2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > ul#{{C_o.LIST_ID_s}}_{{C_o.STAT_a[0]}}_hue_range > li[data-range_n]:hover:before {
  filter: brightness( {{S_o.brightness_lo2}} );
  transform: scale( 1 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range] {
  display: none;
  position: absolute;
  margin: -{{S_o.PAD_4}} 0;
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
  transform: translate( -{{S_o.PAD_2}}, - ) rotate( 90deg ) scaleY( .3 );
  transform-origin: top left;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]:focus {
  outline: none;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 16px;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) > canvas {
  width: 48px;
  height: 720px;
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div:not([id="{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_range"]) > canvas:nth-of-type(1) {
  cursor: var(--{{C_o.STAT_a[0]}}_trace_pointer);
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_hue_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_hue_trace) * 1px - 14px );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_sat_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_sat_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label#{{C_o.LABEL_ID_s}}_{{C_o.STAT_a[0]}}_lum_trace {
  top: calc( var(--{{C_o.STAT_a[0]}}_lum_trace) * 1px  - .33em );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: -50px;
  width: fit-content;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > output {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 4ch;
  color: currentColor;
  background: {{S_o.bg_lower}};
  font-size: 80%;
  font-weight: 200;
  border-radius: 4px;
  opacity: 1;
  filter: brightness( {{S_o.brightness_hi2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"] > span {
  width: 2ch;
  color: {{S_o.bg_lower}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover {
  cursor: url( /assets/styles/css/paint_brush.svg ) 32 32, auto;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > output {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > label[id$="_trace"]:hover > span {
  filter: brightness( {{S_o.brightness_lo2}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: -1.5rem;
  margin: {{S_o.PAD_1}} 0;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > input[type=range] {
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div[id^={{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_] > label {
  position: relative;
  padding: {{S_o.PAD_1}};
  width: 100%;
  text-align: center;
  font-size: 80%;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range] {
  transform: rotate( 180deg ) scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_hi > input[type=range]:hover:after {
  transform: rotate( 180deg ) scaleY( 2 );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_slide_hue > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_thresh_lo > input[type=range] {
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view:hover {
  background: hsla( {{S_o.hue_p}} {{S_o.sat_lo_2}} {{S_o.lum_hi_4}} /1);
  opacity: 1;
  transition: opacity .5s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: calc( 100vh - 10em );
  left: calc( 50vw - 100px - {{S_o.PAD_1}} );
  background: {{S_o.table}};
  border-radius: 4px;
  opacity: .1;
  transition: opacity .5s ease;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range] {
  position: relative;
  top: {{S_o.PAD_5}};
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label {
  position: relative;
  top: -{{S_o.PAD_6}};
  padding: {{S_o.PAD_1}};
  text-align: left;
  text-transform: none;
  font-size: 80%;
  border: none;
  opacity: .5;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend] {
  top: 0;
  margin: 0 0 {{S_o.PAD_4}} {{S_o.PAD_1}};
  font-size: 95%;
  text-transform: uppercase;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend] > span {
  background: {{S_o.nav_spot_set_3}};
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > label[data-legend]:hover > span[data-role] {
  background: transparent;
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range]:focus {
  outline: none;
  filter: hue-rotate( -220deg );
}
div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view > input[type=range]:focus + label {
  background: {{S_o.lighter}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:not( :checked )  ) > div#goto_{{C_o.STAT_a[0]}}_plots, body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:not( :checked )  ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_layer_view {
  display: flex;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > a#goto_{{C_o.FULL_SCREEN}} {
  display: block;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#goto_{{C_o.STAT_a[0]}}_plots {
  display: var(--{{C_o.STAT_a[0]}}_plots);
  z-index: 19;
  position: absolute;
  --plots_ratio: calc( var(--{{C_o.STAT_a[0]}}_screen_dim) * var(--{{C_o.STAT_a[0]}}_scale) );
  top: calc( 50vh - var(--plots_ratio) * .5px  );
  left: calc( 50vw - var(--plots_ratio) * .5px  );
  width: calc( var(--plots_ratio) * 1px );
  height: calc( var(--plots_ratio) * 1px );
  border-radius: 50%;
  background: {{S_o.shadow_ne}};
  filter: brightness( .01 );
  pointer-events: none;
  transform-origin: center;
  transform: scale( var(--{{C_o.STAT_a[0]}}_plots_scale) );
  transition: .3s ease;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > div#goto_{{C_o.STAT_a[0]}}_plots {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}:checked  ) > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_plots:checked ~ div#goto_{{C_o.STAT_a[0]}}_plots {
  display: block;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked ) > div#goto_{{C_o.STAT_a[0]}}_plots {
  opacity: 0;
  transition: .3s ease;
}
aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > inpu#t{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:checked {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  z-index: 21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  min-width: 740px;
  box-shadow: 0 0 0 1000vmax {{S_o.shadow_hi}};
  filter: drop-shadow( 0 0 10vmax {{S_o.shadow_hi}} );
  transform-origin: bottom left;
  transform: scale( 1 );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > canvas#{{C_o.CANVAS_ID_s}}_{{C_o.STAT_a[0]}}_hue_img {
  grid-area: 1/-1;
  max-width: {{C_o.BURST_TRANSFORM_DIM_s}};
  max-height: {{C_o.BURST_TRANSFORM_DIM_s}};
  background: var(--{{C_o.STAT_a[0]}}_img_backgroud);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0 {{S_o.PAD_8}};
  gap: {{S_o.PAD_16}};
  width: 100%;
  height: 2rem;
  border: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul > li {
  list-style: none;
  transform-origin: center;
  transform: scale( 1 );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul > li > label {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid {{S_o.shadow_ne}};
  border-radius: 50%;
  background: transparent;
  padding: 0 {{S_o.PAD_2}};
  border: none;
  border-radius: 4px;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul > li > label:hover {
  background: {{S_o.shadow_ne}};
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul > li:before {
  content: '';
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg {
  display: flex;
  justify-content: flex-start;
  padding: 0 {{S_o.PAD_2}};
  width: 100%;
  height: 2rem;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label {
  width: 15%;
  text-align: center;
  font-size: 80%;
  line-height: 2rem;
  opacity: .5;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg_opacity[type=range] {
  width: 200px;
  background: transparent;
  cursor: pointer;
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for] {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url( /assets/styles/css/paint_brush.svg ) 32 32, auto;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for] > span {
  width: calc( 1.5rem - 4px );
  height: calc( 1.5rem - 4px );
  line-height: calc( 1.5rem - 4px );
  border: 2px solid hsl( 0 0% 50% /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:nth-of-type(2) > span {
  background: hsl( 0 0% 0% /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:nth-of-type(3) > span {
  background: hsl( 0 100% 100% /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:nth-of-type(4) > span {
  background: hsl( var(--{{C_o.STAT_a[0]}}_img_bg_hue) calc(var(--{{C_o.STAT_a[0]}}_img_bg_sat)  *1% ) calc(var(--{{C_o.STAT_a[0]}}_img_bg_lum)  *1%) /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:nth-of-type(5) {
  cursor: pointer;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:nth-of-type(5) > span {
  line-height: calc( 1.5rem - 8px );
  background: transparent;
  border: 2px solid transparent;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_bg > label[for]:hover > span {
  display: none;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: {{S_o.PAD_6}} {{S_o.PAD_4}} 0 {{S_o.PAD_4}};
  width: 100%;
  height: fit-content;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker > label {
  width: 100%;
  height: 1.6rem;
  border-radius: 4px;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker > input[type=range] {
  width: 720px;
  position: relative;
  top: -1.1rem;
  cursor: pointer;
  transform: scaleY( {{C_o.INPUT_RANGE_SCALEY_n}} );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker > label:nth-of-type(1) {
  background: hsl( var(--{{C_o.STAT_a[0]}}_img_bg_hue) calc(var(--{{C_o.STAT_a[0]}}_img_bg_sat)  *1% ) calc(var(--{{C_o.STAT_a[0]}}_img_bg_lum)  *1%) /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker > label:nth-of-type(2) {
  background: hsl( var(--{{C_o.STAT_a[0]}}_img_bg_hue) calc(var(--{{C_o.STAT_a[0]}}_img_bg_sat) * 1% ) 50% /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker > label:nth-of-type(3) {
  background: hsl( 0 0% calc(var(--{{C_o.STAT_a[0]}}_img_bg_lum) * 1% ) /1);
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:not(:checked) ~ aside#aside_{{C_o.STAT_a[0]}}_hue_img {
  position: fixed;
  left: 0;
  top: calc( 100vh - ( {{C_o.BURST_TRANSFORM_DIM_s}} + 6rem ) );
  box-shadow: none;
  filter: none;
  transform: scale( .33 );
  transition: transform .2s;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:not(:checked) ~ aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul {
  height: 4rem;
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_position:not(:checked) ~ aside#aside_{{C_o.STAT_a[0]}}_hue_img > ul > li {
  transform: scale( 3.33 );
}
body:has( input#{{C_o.INPUT_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker:checked ) > section#{{C_o.STAT_a[0]}} > div[id^={{C_o.DIV_ID_s}}_stat] > aside#aside_{{C_o.STAT_a[0]}}_hue_img > div#{{C_o.DIV_ID_s}}_{{C_o.STAT_a[0]}}_hue_img_picker {
  display: flex;
}
dialog_{{C_o.STAT_a[0]}}_hue_img_dialog {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  .modal-inner {
  background-color: white;
  border-radius: 0.5em;
  max-width: 600px;
  padding: 2em;
  margin: auto;
}
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
  }}dialog_{{C_o.STAT_a[0]}}_hue_img_dialog {
  .modal[open] {
  display: flex;
}
