nav#{{C_o.NAV_ID_s}}_toolset_zoom {
  display: none;
  align-items: center;
  justify-content: right;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label {
  width: 2rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
  border-radius: 50%;
  background: transparent;
  z-index: 101;
  position: relative;
  color: currentColor;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:hover {
  cursor: pointer;
  background: {{S_o.light_05}};
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input {
  display: none;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:nth-of-type( 1 ), nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:nth-of-type( 2 ) {
  position: fixed;
  top: 0;
  left: calc( 100vw - 6rem );
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:checked ~ label[for]:nth-of-type( 1 ) {
  visibility: visible;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:not( :checked ) ~ label[for]:nth-of-type( 1 ) {
  visibility: hidden;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:checked ~ label[for]:nth-of-type( 2 ) {
  visibility: hidden;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:not( :checked ) ~ label[for]:nth-of-type( 2 ) {
  visibility: visible;
}
