nav#{{C_o.NAV_ID_s}}_toolset_zoom {
  display: none;
  align-items: center;
  justify-content: right;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  border: 1px solid {{S_o.nav_dot_set_4}};
  border-radius: 8px;
  background: transparent;
  z-index: 101;
  position: relative;
  color: currentColor;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:hover {
  cursor: pointer;
  background: {{S_o.shadow_ne}};
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input {
  display: none;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:nth-of-type( 1 ), nav#{{C_o.NAV_ID_s}}_toolset_zoom > label:nth-of-type( 2 ) {
  position: fixed;
  top: {{S_o.NAV_HEIGHT_s}};
  left: calc( 50vw - 1rem );
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:checked ~ label[for]:nth-of-type( 1 ) {
  visibility: visible;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:not( :checked ) ~ label[for]:nth-of-type( 1 ) {
  visibility: hidden;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:checked ~ label[for]:nth-of-type( 2 ) {
  visibility: hidden;
}
nav#{{C_o.NAV_ID_s}}_toolset_zoom > input:not( :checked ) ~ label[for]:nth-of-type( 2 ) {
  visibility: visible;
}
