span[data-spec="₄"]{display:flex;flex-direction:row;flex-wrap:wrap;gap:1px;width:100%}
span[data-spec="₄"] > b{flex-grow:1;padding:.25rem;background:var(--shadow_ne)}
.colw_20_50_30 > b:nth-child(-n+3){background: var(--table);font-weight:600}
.colw_20_50_30 > b:nth-child(3n+1){width: calc((20 - 2) * 1%)}
.colw_20_50_30 > b:nth-child(3n+2){width: calc((50 - 5) * 1%)}
.colw_20_50_30 > b:nth-child(3n+3){width: calc((30 - 3) * 1%)}
.cola_2_1_0 > b:nth-child(3n+1){text-align: right}
.cola_2_1_0 > b:nth-child(3n+2){text-align: center}
.cola_2_1_0 > b:nth-child(3n+3){text-align: left}
.colw_30_30_20_20 > b:nth-child(-n+4){background: var(--table);font-weight:600}
.colw_30_30_20_20 > b:nth-child(4n+1){width: calc((30 - 3) * 1%)}
.colw_30_30_20_20 > b:nth-child(4n+2){width: calc((30 - 3) * 1%)}
.colw_30_30_20_20 > b:nth-child(4n+3){width: calc((20 - 2) * 1%)}
.colw_30_30_20_20 > b:nth-child(4n+4){width: calc((20 - 2) * 1%)}
.cola_1_1_0_2 > b:nth-child(4n+1){text-align: center}
.cola_1_1_0_2 > b:nth-child(4n+2){text-align: center}
.cola_1_1_0_2 > b:nth-child(4n+3){text-align: left}
.cola_1_1_0_2 > b:nth-child(4n+4){text-align: right}
