{% set _js %}
{#% include "./parts/dateTime.js" %#}
{% include "./parts/fullscreen.js" %}
{% include "./parts/ui.js" %}
{% include "./parts/drag.js" %}
{% include "./parts/expo.js" %}
{% endset %}

{% include "assets/scripts/js/minify.njk" %}
