{% set _js %}
{#% include "./parts/idecompress.js" %#}
{#% include "./parts/scan.js" %#}
{% include "./parts/SWorker.js" %}
{% include "./parts/read_file.js" %}
{% include "./parts/stat.js" %}
{% endset %}

{% include "assets/scripts/js/minify.njk" %}
