{% set _path = '../../assets/styles/css/parts/' %}
<style data-id="{{ C_o.INLINE_s }}">
{% set _css %}
{% include _path + "uni.css" %}
{% include _path + "root.css" %}
{% include _path + "body.css" %}
{% include _path + "header.css" %}
{% include _path + "main.css" %}
{% include _path + "aside.css" %}
{% include _path + "svg.css" %}
{% endset %}
{% include "assets/styles/css/minify.njk" %}
</style>
