{% set _work_s = '' %}
{% set _stat_s = '' %}
{% if workID_s %}
{% set _work_s = ' data-work_s=' + workID_s %}
{% endif %}
{% if stat_s %}
{% set _stat_s = ' data-stat_s=' + stat_s %}
{% endif %}
{% if layer_a %}
{% set _layer_s = ' data-layer_s="' + layer_a.join( ' ' ) + '"' %}
{% endif %}

<body{{_work_s}}{{_stat_s}}{{_layer_s}}>
{% include "parts/body/nav_input.njk" %}
<a id="{{C_o.PAGE_TOP}}"></a>
{% include "parts/body/main.njk" %}
{% if stat_s %}
{% include "parts/body/stat_iframe.njk" %}
{% endif %}
{% include "parts/body/nav_label.njk" %}    <!-- at end to be upper layer -->
<a id="goto_{{C_o.PAGE_TOP}}" href=#{{C_o.PAGE_TOP}}>{{C_o.UP_ARROW_s}}</a>
{#% include "parts/body/svg_inline.njk" %#}
{% if C_o.SERVICE_b === true %}
{% include "parts/body/script.njk" %}
{% endif %}
</body>
