{% set _work_s = '' %}
{% if workID_s %}
{% set _work_s = ' data-work_s=' + workID_s %}
{% endif %}

<body{{_work_s}}>
{% include "parts/body/nav_input.njk" %}
<a id="{{C_o.PAGE_TOP}}"></a>
{% include "parts/body/main.njk" %}
{% if stat_a %}
{% include "parts/body/stat.njk" %}
{% endif %}
{% include "parts/body/nav.njk" %}    <!-- at end to be upper layer -->
<a id="goto_{{C_o.PAGE_TOP}}" href=#{{C_o.PAGE_TOP}}>{{C_o.UP_ARROW_s}}</a>
{% include "parts/body/svg_inline.njk" %}
{% if C_o.SERVICE_b === true %}
{% include "parts/body/script.njk" %}
{% endif %}
</body>
