{% if _nodb_b %}
{% set _path_s = '' %}
{% else %}
{% set _path_s = '../../' %}
{% endif %}

<head>
{% include "parts/head/title.njk" %}
{% include "parts/head/seo.njk" %}
{% include "parts/head/description.njk" %}
{% include "parts/head/manifest.njk" %}
{% include "parts/head/base_url.njk" %}
{#% include "parts/head/inline_style.njk" %#}

<link rel="stylesheet" href="{{_path_s}}assets/styles/css/index.min.css" />
{% for _css in css_a %}
<link rel="stylesheet" href="{{_path_s}}assets/styles/css/{{_css}}" />
{% endfor %}

</head>
