<head>
{% include "parts/head/viewport.njk" %}
{% include "parts/head/css.njk" %}

{% include "parts/head/title.njk" %}
{% include "parts/head/seo.njk" %}
{% include "parts/head/description.njk" %}
{% include "parts/head/manifest.njk" %}
{% include "parts/head/base_url.njk" %}

{% include "parts/head/preload.njk" %}
</head>
