{% set _css %}
{% include "./parts/html.css" %}
{% include "./parts/body.css" %}
{% include "./parts/comment_iframe.css" %}
{% include "./parts/comment_form.css" %}
{% include "./parts/section.css" %}
{% include "./parts/section_0.css" %}
{% include "./parts/section_1.css" %}
{% include "./parts/section_2.css" %}
{% include "./parts/list.css" %}
{% include "./parts/toolset.css" %}
{% include "./parts/masonry.css" %}
{% include "./parts/dock.css" %}
{% include "./parts/dialog_work.css" %}
{% include "./parts/aside.css" %}      {#% keep after toolset to overinde %#}
{% include "./parts/nav.css" %}
{% include "./parts/svg.css" %}
{% endset %}
{% include "assets/styles/css/minify.njk" %}
