{% set _css %}
{% include "./parts/html.css" %}
{% include "./parts/body.css" %}
{% include "./parts/header.css" %}
{% include "./parts/main.css" %}
{% include "./parts/aside.css" %}
{% include "./parts/svg.css" %}
{% endset %}
{% include "assets/styles/css/minify.njk" %}
